@import './fonts.css';
@import './interface.css';
@import './markdown.css';
/*@import './tana-bullets.css';*/
@import './plugins.css';
@import './live-query.css';
@import './logseq.css';

@font-face { 
    font-family: 'tabler-icons240';
    src: url('./tabler-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
Base Root Settings
   ========================================================================== */

:root {
    --ls-font-family: var(--cl-font-family, Inter);
    -webkit-font-smoothing: antialiased;
    --cl-background: var(--background-color-h), var(--background-color-s), var(--background-color-l);
    --cl-block-bullet-fix: 20px;
    --ls-main-content-max-width: var(--cl-page-width, 1000px);
    --ls-main-content-max-width-wide: var(--cl-page-max-width, 1200px);
    --ls-page-title-size: 28px;
    --ls-left-sidebar-width: 200px;
    --ls-right-sidebar-width: 30%;
    /* General Settings */
    --cl-box-shadow: rgba(23, 42, 53, 0.1) 0px 0px 4px 2px;
    /* Border Settings */
    --cl-border-minor: 2px;
    --cl-border-max: 4px;
    --cl-border-solid: 1px solid var(--ls-border-color);
    /* Transparency Settings */
    --cl-transparent-text: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.1);
    --cl-transparent-text-2: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.2);
    --cl-transparent-text-4: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.4);
    --cl-transparent-text-6: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.6);
    --cl-transparent-text-8: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.8);
    --cl-transparent-bg: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.1);
    --cl-transparent-bg-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.2);
    --cl-transparent-bg-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.4);
    --cl-transparent-bg-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.6);
    --cl-transparent-bg-8: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.8);
    --cl-transparent-bg-9: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.9);
    /* Color Settings */
    --cl-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --cl-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) / 1.10));
    --cl-primary-darker: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) / 1.20));
    --cl-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) * 1.10));
    --cl-primary-lighter: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) * 1.20));
    --cl-sidebar-left-panel: calc(var(--ls-main-content-max-width) * 0.2);
    --cl-sidebar-right-panel: calc(var(--ls-main-content-max-width) * 0.8);
    --cl-left-panel: calc(var(--ls-main-content-max-width) * 0.33);
    --cl-left-wide-panel: calc(var(--ls-main-content-max-width-wide) * 0.33);
    --cl-right-panel: calc(var(--ls-main-content-max-width) * 0.67);
    --cl-right-wide-panel: calc(var(--ls-main-content-max-width-wide) * 0.67);
}

/* Dark settings */
.dark-theme,
html[data-theme='dark'] {
    /* ==== BASE CALCULATORS ==== */
    --contrastThreshold: 60%;
    --lightnessTransform: 5%;
    --darknessTransform: 15%;
    --bg-light-transform: 3%; /* USED FOR CALCULATING VARIOUS SHADES FOR BACKGROUNDS */
    /* ==== TRANSFORMERS ==== */
    /* text colors */
    --primary-text-darken: calc(var(--primary-text-l) - calc(var(--lightnessTransform) * 3));
    --primary-text-lighten: calc(var(--primary-text-l) + calc(var(--lightnessTransform) * 5));
    /* primary colors */
    --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
    --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
    --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
    --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
    /* background colors */
    --bg-darkness-1: calc(var(--background-color-l) - var(--bg-light-transform));
    --bg-lightness-1: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 1));
    --bg-lightness-2: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 2));
    --bg-lightness-3: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 3));
    --bg-lightness-4: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 4));
    --bg-lightness-5: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 5));
    --bg-lightness-6: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 6));
    /* === Variables which we can apply to theme elements === */
    --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --color-secondary: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
    --color-accent: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));
    --color-secondary-dark: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-dark-l));
    --color-accent-dark: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-dark-l));
    --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
    --color-secondary-light: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-light-l));
    --color-accent-light: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-light-l));
    --primary-text-dark: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-darken));
    --primary-text-light: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-lighten));
    --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
    --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
    --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
    --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
    --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
    --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
    --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
    /* ========== THEME SETTINGS ========== */
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: hsl(var(--cl-primary));
    --ls-active-secondary-color: hsl(var(--cl-secondary));
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: hsl(var(--cl-primary));
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--color-accent);
    --ls-mark-color: hsl(var(--cl-primary));
    --ls-border-color: var(--bg-color-1);
    --ls-secondary-border-color: hsl(var(--cl-secondary));
    --ls-guideline-color: hsl(var(--cl-text-color), 0.1);
    --ls-guideline-references-color: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.3);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: hsl(var(--cl-text-color));
    --ls-secondary-text-color: hsl(var(--cl-text-color), 0.75);
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: hsl(var(--cl-primary));
    --ls-link-text-hover-color: hsl(var(--cl-primary));
    --ls-link-ref-text-color: hsl(var(--cl-primary));
    --ls-link-ref-text-hover-color: var(--color-primary-light);
    --ls-tag-text-color: var(--ls-secondary-text-color);
    --ls-tag-text-hover-color: hsl(var(--cl-primary));
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: hsl(var(--cl-block-bullet-border-color, var(--cl-text-color), 0.1));
    --ls-block-bullet-references-border-color: hsl(var(--cl-primary), 0.1);
    --ls-block-bullet-color: hsl(var(--cl-block-bullet-color, var(--cl-text-color), 0.5));
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: hsl(var(--cl-primary), 0.1);
    --ls-page-checkbox-color: var(--cl-transparent-text);
    --ls-page-checkbox-border-color: hsl(var(--cl-primary));
    --ls-page-blockquote-color: hsl(var(--cl-secondary));
    --ls-page-blockquote-bg-color: hsl(var(--cl-secondary), 0.2);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: hsl(var(--cl-primary));
    --ls-page-inline-code-bg-color: hsl(var(--cl-primary), 0.1);
    --ls-scrollbar-foreground-color: hsl(var(--cl-background), 0.6);
    --ls-scrollbar-background-color: hsl(var(--cl-text-color), 0);
    --ls-scrollbar-thumb-hover-color: hsl(var(--cl-primary));
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: hsl(var(--cl-primary));
    --ls-icon-color: hsl(var(--cl-primary));
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
    --ls-highlight-color-gray: #17171730;
    --ls-highlight-color-red: #7f1d1d30;
    --ls-highlight-color-yellow: #78350f30;
    --ls-highlight-color-green: #14532d30;
    --ls-highlight-color-blue: #1e3a8a30;
    --ls-highlight-color-purple: #581c8730;
    --ls-highlight-color-pink: #83184330;
    --ls-highlight-color-gray-text: #a3a3a3;
    --ls-highlight-color-red-text: #f87171;
    --ls-highlight-color-yellow-text: #d79c05;
    --ls-highlight-color-green-text: #11c653;
    --ls-highlight-color-blue-text: #60a5fa;
    --ls-highlight-color-purple-text: #c084fc;
    --ls-highlight-color-pink-text: #f472b6;
    --ls-success-text-color: var(--color-green-500);
    --ls-header-button-background: hsl(var(--cl-text-color), 1);
}

/* Light Settings */
.light-theme,
html[data-theme='light'] {
    /* ==== BASE CALCULATORS ==== */
    --contrastThreshold: 60%;
    --lightnessTransform: 5%;
    --darknessTransform: 15%;
    --bg-light-transform: 3%; /* USED FOR CALCULATING VARIOUS SHADES FOR BACKGROUNDS */
    /* ==== TRANSFORMERS ==== */
    /* text colors */
    --primary-text-darken: calc(var(--primary-text-l) - calc(var(--lightnessTransform) * 3));
    --primary-text-lighten: calc(var(--primary-text-l) + calc(var(--lightnessTransform) * 8));
    /* primary colors */
    --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
    --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
    --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
    --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
    /* background colors */
    --bg-darkness-1: calc(var(--background-color-l) + var(--bg-light-transform));
    --bg-lightness-1: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 1));
    --bg-lightness-2: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 2));
    --bg-lightness-3: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 3));
    --bg-lightness-4: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 4));
    --bg-lightness-5: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 5));
    --bg-lightness-6: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 6));
    /* === Variables which we can apply to theme elements === */
    --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --color-secondary: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
    --color-accent: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));
    --color-secondary-dark: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-dark-l));
    --color-accent-dark: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-dark-l));
    --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
    --color-secondary-light: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-light-l));
    --color-accent-light: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-light-l));
    --primary-text-dark: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-darken));
    --primary-text-light: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-lighten));
    --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
    --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
    --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
    --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
    --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
    --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
    --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
    /* ========== THEME SETTINGS ========== */
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: hsl(var(--cl-primary));
    --ls-active-secondary-color: hsl(var(--cl-secondary));
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: hsl(var(--cl-primary));
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--color-accent);
    --ls-mark-color: hsl(var(--cl-primary));
    --ls-border-color: var(--bg-color-1);
    --ls-secondary-border-color: hsl(var(--cl-secondary));
    --ls-guideline-color: hsl(var(--cl-text-color), 0.1);
    --ls-guideline-references-color: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.3);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: hsl(var(--cl-text-color));
    --ls-secondary-text-color: hsl(var(--cl-text-color), 0.75);
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: hsl(var(--cl-primary));
    --ls-link-text-hover-color: hsl(var(--cl-primary));
    --ls-link-ref-text-color: hsl(var(--cl-primary));
    --ls-link-ref-text-hover-color: var(--color-primary-light);
    --ls-tag-text-color: var(--ls-secondary-text-color);
    --ls-tag-text-hover-color: hsl(var(--cl-primary));
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: hsl(var(--cl-block-bullet-border-color, var(--cl-text-color), 0.1));
    --ls-block-bullet-references-border-color: hsl(var(--cl-primary), 0.1);
    --ls-block-bullet-color: hsl(var(--cl-block-bullet-color, var(--cl-text-color), 0.5));
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: hsl(var(--cl-primary), 0.1);
    --ls-page-checkbox-color: var(--cl-transparent-text);
    --ls-page-checkbox-border-color: hsl(var(--cl-primary));
    --ls-page-blockquote-color: hsl(var(--cl-secondary));
    --ls-page-blockquote-bg-color: hsl(var(--cl-secondary), 0.2);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: hsl(var(--cl-primary));
    --ls-page-inline-code-bg-color: hsl(var(--cl-primary), 0.1);
    --ls-scrollbar-foreground-color: hsl(var(--cl-background), 0.6);
    --ls-scrollbar-background-color: hsl(var(--cl-text-color), 0);
    --ls-scrollbar-thumb-hover-color: hsl(var(--cl-primary));
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: hsl(var(--cl-primary));
    --ls-icon-color: hsl(var(--cl-primary));
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
    --ls-highlight-color-gray: #a3a3a330;
    --ls-highlight-color-gray-text: #a3a3a3;
    --ls-highlight-color-red: #f8717130;
    --ls-highlight-color-red-text: #f87171;
    --ls-highlight-color-yellow: #fbbf2430;
    --ls-highlight-color-yellow-text: #d79c05;
    --ls-highlight-color-green: #4ade8030;
    --ls-highlight-color-green-text: #11c653;
    --ls-highlight-color-blue: #60a5fa30;
    --ls-highlight-color-blue-text: #60a5fa;
    --ls-highlight-color-purple: #c084fc30;
    --ls-highlight-color-purple-text: #c084fc;
    --ls-highlight-color-pink: #f472b630;
    --ls-highlight-color-pink-text: #f472b6;
    --ls-success-text-color: var(--color-green-500);
    --ls-header-button-background: hsl(var(--cl-text-color), 1);
}

/* Typology Settings */

/* top nav bar */

/* right sidebar */

/* left sidebar */

/* navigation buttons */

/* modal panels */

/* Main editing area */

/* codemirror */

/* main editing area / embeds */

/* main editing area / embeds & codemirror */

/* Sidebar editing area */

/* Main app reference panel */