@import './tana-bullets2.css';

@font-face {
    font-family: 'tabler-icons240';
    src: url('./tabler-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --ls-font-family: var(--cl-font-family, "Segoe UI", Inter);
    --cl-background: var(--background-color-h), var(--background-color-s), var(--background-color-l);
    --cl-block-bullet-fix: 20px;
    --ls-main-content-max-width: var(--cl-page-width, 1000px);
    --ls-main-content-max-width-wide: var(--cl-page-max-width, 1200px);
    --ls-page-title-size: 28px;
    --ls-left-sidebar-width: 200px;
    --ls-right-sidebar-width: 30%;
    /* General Settings */
    --cl-box-shadow: rgba(23, 42, 53, 0.1) 0px 0px 4px 2px;
    /* Border Settings */
    --cl-border-minor: 2px;
    --cl-border-max: 4px;
    --cl-border-solid: 1px solid var(--ls-border-color);
    /* Transparency Settings */
    --cl-transparent-text: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.1);
    --cl-transparent-text-2: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.2);
    --cl-transparent-text-4: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.4);
    --cl-transparent-text-6: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.6);
    --cl-transparent-text-8: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.8);
    --cl-transparent-bg: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.1);
    --cl-transparent-bg-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.2);
    --cl-transparent-bg-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.4);
    --cl-transparent-bg-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.6);
    --cl-transparent-bg-8: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.8);
    --cl-transparent-bg-9: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6), 0.9);
    /* Color Settings */
    --cl-gray: 0, 0%, 50%;
    --cl-color-1: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --cl-color-1-dark: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) / 1.10));
    --cl-color-1-darker: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) / 1.20));
    --cl-color-1-light: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) * 1.10));
    --cl-color-1-lighter: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) * 1.20));
    --cl-sidebar-left-panel: calc(var(--ls-main-content-max-width) * 0.2);
    --cl-sidebar-right-panel: calc(var(--ls-main-content-max-width) * 0.8);
    --cl-left-panel: calc(var(--ls-main-content-max-width) * 0.33);
    --cl-left-wide-panel: calc(var(--ls-main-content-max-width-wide) * 0.33);
    --cl-right-panel: calc(var(--ls-main-content-max-width) * 0.67);
    --cl-right-wide-panel: calc(var(--ls-main-content-max-width-wide) * 0.67);
    /* Color Palettes */
    --cl-gray-100: hsl(var(--cl-gray));
    --cl-gray-80: hsl(var(--cl-gray), 0.8);
    --cl-gray-60: hsl(var(--cl-gray), 0.6);
    --cl-gray-40: hsl(var(--cl-gray), 0.4);
    --cl-gray-20: hsl(var(--cl-gray), 0.2);
    --cl-gray-10: hsl(var(--cl-gray), 0.1);
    --cl-gray-05: hsl(var(--cl-gray), 0.05);
    --cl-color-1-100: hsl(var(--cl-color-1));
    --cl-color-1-80: hsl(var(--cl-color-1), 0.8);
    --cl-color-1-60: hsl(var(--cl-color-1), 0.6);
    --cl-color-1-40: hsl(var(--cl-color-1), 0.4);
    --cl-color-1-20: hsl(var(--cl-color-1), 0.2);
    --cl-color-1-10: hsl(var(--cl-color-1), 0.1);
    --cl-color-1-05: hsl(var(--cl-color-1), 0.05);
    --cl-color-2-100: hsl(var(--cl-color-2));
    --cl-color-2-80: hsl(var(--cl-color-2), 0.8);
    --cl-color-2-60: hsl(var(--cl-color-2), 0.6);
    --cl-color-2-40: hsl(var(--cl-color-2), 0.4);
    --cl-color-2-20: hsl(var(--cl-color-2), 0.1);
    --cl-color-2-10: hsl(var(--cl-color-2), 0.1);
    --cl-color-2-05: hsl(var(--cl-color-2), 0.05);
    --cl-color-3-100: hsl(var(--cl-color-3));
    --cl-color-3-80: hsl(var(--cl-color-3), 0.8);
    --cl-color-3-60: hsl(var(--cl-color-3), 0.6);
    --cl-color-3-40: hsl(var(--cl-color-3), 0.4);
    --cl-color-3-20: hsl(var(--cl-color-3), 0.2);
    --cl-color-3-10: hsl(var(--cl-color-3), 0.1);
    --cl-color-3-05: hsl(var(--cl-color-3), 0.05);
    --cl-color-4-100: hsl(var(--cl-color-4));
    --cl-color-4-80: hsl(var(--cl-color-4), 0.8);
    --cl-color-4-60: hsl(var(--cl-color-4), 0.6);
    --cl-color-4-40: hsl(var(--cl-color-4), 0.4);
    --cl-color-4-20: hsl(var(--cl-color-4), 0.2);
    --cl-color-4-10: hsl(var(--cl-color-4), 0.1);
    --cl-color-4-05: hsl(var(--cl-color-4), 0.05);
    --cl-color-5-100: hsl(var(--cl-color-5));
    --cl-color-5-80: hsl(var(--cl-color-5), 0.8);
    --cl-color-5-60: hsl(var(--cl-color-5), 0.6);
    --cl-color-5-40: hsl(var(--cl-color-5), 0.4);
    --cl-color-5-20: hsl(var(--cl-color-5), 0.2);
    --cl-color-5-10: hsl(var(--cl-color-5), 0.1);
    --cl-color-5-05: hsl(var(--cl-color-5), 0.05);
    --cl-text-color-100: hsl(var(--cl-text-color));
    --cl-text-color-80: hsl(var(--cl-text-color), 0.8);
    --cl-text-color-60: hsl(var(--cl-text-color), 0.6);
    --cl-text-color-40: hsl(var(--cl-text-color), 0.4);
    --cl-text-color-20: hsl(var(--cl-text-color), 0.2);
    --cl-text-color-10: hsl(var(--cl-text-color), 0.1);
    --cl-text-color-05: hsl(var(--cl-text-color), 0.05);
}

.dark-theme, html[data-theme=dark] {
    /* ==== BASE CALCULATORS ==== */
    --contrastThreshold: 60%;
    --lightnessTransform: 3%;
    --darknessTransform: 15%;
    --bg-light-transform: 3%;
    /* USED FOR CALCULATING VARIOUS SHADES FOR BACKGROUNDS */
    /* ==== TRANSFORMERS ==== */
    /* text colors */
    --primary-text-darken: calc(var(--primary-text-l) - calc(var(--lightnessTransform) * 3));
    --primary-text-lighten: calc(var(--primary-text-l) + calc(var(--lightnessTransform) * 5));
    /* primary colors */
    --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
    --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
    --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
    --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
    /* background colors */
    --bg-darkness-1: calc(var(--background-color-l) - var(--bg-light-transform));
    --bg-lightness-1: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 1.0));
    --bg-lightness-2: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 2.0));
    --bg-lightness-3: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 3.0));
    --bg-lightness-4: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 4.0));
    --bg-lightness-5: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 5.0));
    --bg-lightness-6: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 6.0));
    /* === Variables which we can apply to theme elements === */
    --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --color-secondary: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
    --color-accent: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));
    --color-secondary-dark: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-dark-l));
    --color-accent-dark: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-dark-l));
    --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
    --color-secondary-light: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-light-l));
    --color-accent-light: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-light-l));
    --primary-text-dark: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-darken));
    --primary-text-light: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-lighten));
    --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
    --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
    --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
    --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
    --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
    --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
    --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--bg-color-1);
    --ls-active-primary-color: var(--cl-color-1-60);
    --ls-active-secondary-color: var(--cl-color-1-100);
    --ls-block-properties-background-color: var(--bg-color-1);
    --ls-page-properties-background-color: var(--bg-color-1);
    --ls-block-ref-link-text-color: #1a6376;
    --ls-border-color: var(--bg-color-2);
    --ls-secondary-border-color: #126277;
    --ls-tertiary-border-color: rgba(0,2,0,.1);
    --ls-guideline-color: var(--cl-text-color-20);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: var(--cl-text-color-100);
    --ls-secondary-text-color: var(--cl-text-color-80);
    --ls-title-text-color: #93a1a1;
    --ls-anchor-link-text-color: var(--ls-link-text-color);
    --ls-link-text-color: var(--cl-color-1-100);
    --ls-link-text-hover-color: var(--ls-active-secondary-color);
    --ls-link-ref-text-color: var(--ls-link-text-color);
    --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
    --ls-tag-text-color: var(--cl-color-2-80);
    --ls-tag-text-hover-color: var(--cl-color-2-100);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: var(--cl-text-color-10);
    --ls-block-bullet-color: var(--cl-text-color-40);
    --ls-block-highlight-color: #0a3d4b;
    --ls-selection-background-color: #338fff;
    --ls-selection-text-color: #fff;
    --ls-page-checkbox-color: var(--cl-color-1-60);
    --ls-page-checkbox-border-color: var(--ls-primary-background-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-mark-color: #262626;
    --ls-page-mark-bg-color: #fef3ac;
    --ls-page-inline-code-color: var(--ls-primary-text-color);
    --ls-page-inline-code-bg-color: var(--cl-text-color-05);
    --ls-scrollbar-foreground-color: #11505f;
    --ls-scrollbar-background-color: rgba(30,60,67,.1);
    --ls-scrollbar-thumb-hover-color: hsla(0,0%,100%,.2);
    --ls-cloze-text-color: #8fbc8f;
    --ls-icon-color: var(--ls-link-text-color);
    --ls-search-icon-color: var(--ls-primary-text-color);
    --ls-search-icon-hover-color: var(--ls-secondary-text-color);
    --ls-a-chosen-bg: var(--ls-quaternary-background-color);
    --ls-pie-bg-color: #01303b;
    --ls-pie-fg-color: #0b5869;
    --ls-highlight-color-gray: var(--color-gray-900);
    --ls-highlight-color-red: var(--color-red-900);
    --ls-highlight-color-yellow: var(--color-yellow-900);
    --ls-highlight-color-green: var(--color-green-900);
    --ls-highlight-color-blue: var(--color-blue-900);
    --ls-highlight-color-purple: var(--color-purple-900);
    --ls-highlight-color-pink: var(--color-pink-900);
    --ls-error-text-color: var(--color-red-400);
    --ls-error-background-color: var(--color-red-900);
    --ls-warning-text-color: var(--color-yellow-400);
    --ls-warning-background-color: var(--color-yellow-900);
    --ls-success-text-color: var(--color-green-100);
    --ls-success-background-color: var(--color-green-900);
    --ls-focus-ring-color: rgba(18,98,119,.5);
    --ls-header-button-background: #dee4ea;
    --ls-left-sidebar-text-color: var(--lx-gray-11);
    --ls-button-background-hsl: 200 98% 35%;
    --ls-button-background: hsl(var(--ls-button-background-hsl));
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--cl-text-color-05);
    --color-level-5: var(--cl-color-2-100);
    --color-level-6: var(--cl-color-2-100);
}

.light-theme, .white-theme, html[data-theme=light] {
    /* ==== BASE CALCULATORS ==== */
    --contrastThreshold: 60%;
    --lightnessTransform: 5%;
    --darknessTransform: 15%;
    --bg-light-transform: 3%;
    /* USED FOR CALCULATING VARIOUS SHADES FOR BACKGROUNDS */
    /* ==== TRANSFORMERS ==== */
    /* text colors */
    --primary-text-darken: calc(var(--primary-text-l) - calc(var(--lightnessTransform) * 3));
    --primary-text-lighten: calc(var(--primary-text-l) + calc(var(--lightnessTransform) * 8));
    /* primary colors */
    --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
    --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
    --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
    --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
    /* background colors */
    --bg-darkness-1: calc(var(--background-color-l) + var(--bg-light-transform));
    --bg-lightness-1: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 1.0));
    --bg-lightness-2: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 2.0));
    --bg-lightness-3: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 3.0));
    --bg-lightness-4: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 4.0));
    --bg-lightness-5: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 5.0));
    --bg-lightness-6: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 6.0));
    /* === Variables which we can apply to theme elements === */
    --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --color-secondary: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
    --color-accent: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));
    --color-secondary-dark: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-dark-l));
    --color-accent-dark: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-dark-l));
    --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
    --color-secondary-light: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-light-l));
    --color-accent-light: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-light-l));
    --primary-text-dark: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-darken));
    --primary-text-light: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-lighten));
    --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
    --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
    --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
    --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
    --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
    --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
    --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
    /* ========== THEME SETTINGS ========== */
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--bg-color-1);
    --ls-active-primary-color: var(--cl-color-1-60);
    --ls-active-secondary-color: var(--cl-color-1-100);
    --ls-block-properties-background-color: var(--bg-color-1);
    --ls-page-properties-background-color: var(--bg-color-1);
    --ls-block-ref-link-text-color: #d8e1e8;
    --ls-border-color: var(--bg-color-2);
    --ls-secondary-border-color: #e2e2e2;
    --ls-tertiary-border-color: hsla(0,0%,78%,.3);
    --ls-guideline-color: var(--cl-text-color-20);
    --ls-menu-hover-color: var(--ls-a-chosen-bg);
    --ls-primary-text-color: var(--cl-text-color-100);
    --ls-secondary-text-color: var(--cl-text-color-80);
    --ls-title-text-color: var(--ls-header-button-background);
    --ls-anchor-link-text-color: var(--ls-link-text-color);
    --ls-link-text-color: var(--cl-color-1-100);
    --ls-link-text-hover-color: #1a537c;
    --ls-link-ref-text-color: var(--ls-link-text-color);
    --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
    --ls-tag-text-color: var(--cl-color-2-80);
    --ls-tag-text-hover-color: var(--cl-color-2-100);
    --ls-slide-background-color: #fff;
    --ls-block-bullet-border-color: var(--cl-text-color-10);
    --ls-block-bullet-color: var(--cl-text-color-40);
    --ls-block-highlight-color: #c0e6fd;
    --ls-selection-background-color: #e4f2ff;
    --ls-selection-text-color: var(--ls-secondary-text-color);
    --ls-page-checkbox-color: var(--cl-color-1-60);
    --ls-page-checkbox-border-color: var(--ls-page-checkbox-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: #fbfaf8;
    --ls-page-blockquote-border-color: #799bbc;
    --ls-page-mark-color: #262626;
    --ls-page-mark-bg-color: #fef3ac;
    --ls-page-inline-code-color: var(--ls-primary-text-color);
    --ls-page-inline-code-bg-color: var(--cl-text-color-05);
    --ls-scrollbar-foreground-color: rgba(0,0,0,.1);
    --ls-scrollbar-background-color: rgba(0,0,0,.05);
    --ls-scrollbar-thumb-hover-color: rgba(0,0,0,.2);
    --ls-cloze-text-color: #0000cd;
    --ls-icon-color: #646464;
    --ls-search-icon-color: var(--ls-primary-text-color);
    --ls-search-icon-hover-color: var(--ls-secondary-text-color);
    --ls-a-chosen-bg: var(--ls-quaternary-background-color);
    --ls-pie-bg-color: #e1e1e1;
    --ls-pie-fg-color: #0a4a5d;
    --ls-highlight-color-gray: var(--color-gray-100);
    --ls-highlight-color-red: var(--color-red-100);
    --ls-highlight-color-yellow: var(--color-yellow-100);
    --ls-highlight-color-green: var(--color-green-100);
    --ls-highlight-color-blue: var(--color-blue-100);
    --ls-highlight-color-purple: var(--color-purple-100);
    --ls-highlight-color-pink: var(--color-pink-100);
    --ls-error-text-color: var(--color-red-600);
    --ls-error-background-color: var(--color-red-100);
    --ls-warning-text-color: var(--color-yellow-700);
    --ls-warning-background-color: var(--color-yellow-100);
    --ls-success-text-color: var(--color-green-800);
    --ls-success-background-color: var(--color-green-100);
    --ls-focus-ring-color: rgba(66,133,244,.5);
    --ls-header-button-background: #0f1419;
    --ls-left-sidebar-text-color: var(--lx-gray-12);
    --ls-button-background-hsl: 200 98% 35%;
    --ls-button-background: hsl(var(--ls-button-background-hsl));
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--cl-text-color-05);
    --color-level-5: var(--cl-color-2-100);
    --color-level-6: var(--cl-color-2-100);
}

/***************** CODE MIRROR *****************/
.white-theme .cm-s-solarized {
    background-color: var(--cl-text-color-05);
    box-shadow: rgba(23, 42, 53, 0.1) 0px 0px 4px 2px;
}

.white-theme .color-level .cm-s-solarized {
    background-color: var(--cl-text-color-05);
    box-shadow: rgba(23, 42, 53, 0.1) 0px 0px 4px 2px;
}

.dark-theme .cm-s-solarized {
    background-color: var(--cl-text-color-05);
    box-shadow: rgba(23, 42, 53, 0.1) 0px 0px 4px 2px;
}

/* Styling */
.extensions__code-lang {
    margin: 2px;
    background-color: transparent;
}

.cp__fenced-code-block {
    margin-bottom: 10px;
}

.cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-light {
    text-shadow: none;
    color: var(--ls-primary-text-color);
    border: 0px solid var(--bg-color-2);
    border-radius: 5px;
    padding-right: 10px;
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters,
.cm-s-solarized.cm-s-light .CodeMirror-gutters {
    background-color: hsl(var(--cl-background), 0);
}

.color-level .cm-s-solarized.cm-s-dark,
.color-level .cm-s-solarized.cm-s-light {
    text-shadow: none;
    color: var(--ls-primary-text-color);
}

.cm-s-solarized.cm-s-dark .CodeMirror-linenumber,
.cm-s-solarized.cm-s-light .CodeMirror-linenumber {
    text-shadow: none;
    color: var(--cl-text-color-20);
    text-align: -webkit-center;
}

.cm-s-solarized.CodeMirror {
    box-shadow: none;
}

.CodeMirror-hscrollbar {
    height: 3px;
}

.cm-s-solarized .cm-keyword {
    color: var(--cl-color-1-100);
}

.cm-s-solarized .cm-def {
    color: var(--cl-color-3-100);
    filter: hue-rotate(05deg);
}

.cm-s-solarized .cm-operator {
    color: var(--cl-color-2-100);
}

.cm-s-solarized .cm-string,
.cm-s-solarized .cm-string-2 {
    color: var(--cl-color-3-100);
}

.cm-s-solarized .cm-variable,
.cm-s-solarized .cm-variable-2 {
    color: var(--cl-color-2-100);
}

.cm-s-solarized .cm-property {
    color: var(--cl-color-3-100);
}

.cm-s-solarized .cm-comment {
    color: var(--cl-text-color-40);
}

.extensions__code-lang {
    background-color: transparent;
}

/***************** MARKDOWN *****************/
.block-marker {
    opacity: 0.7;
}
.editor-inner .uniline-block:is(.h1,.h2), .ls-block :is(h1,h2) {
    border-bottom-color: var(--ls-guideline-color);
}
::selection {
    color: var(--cl-color-2-100);
    background-color: var(--cl-color-2-10);
}

/************** SEARCH PANEL ****************/
.ui__list-item-highlighted-span {
    background-color: var(--cl-color-2-10);
    color: var(--cl-color-2-100);
}

/******** HEADLINE ALIGNMENT FIXES **********/
:not(.block-ref) .ls-block h1,
.editor-inner .multiline-block.h1::first-line,
.editor-inner .uniline-block.h1,
.ls-block h1 {
    transform: translateY(-5px) !important;
}

:not(.block-ref) .ls-block h2,
.editor-inner .multiline-block.h2::first-line,
.editor-inner .uniline-block.h2,
.ls-block h2 {
    transform: translateY(-5px) !important;
}

:not(.block-ref) .ls-block h3,
.editor-inner .multiline-block.h3::first-line,
.editor-inner .uniline-block.h3,
.ls-block h3 {
    transform: translateY(-5px) !important;
}

:not(.block-ref) .ls-block h4,
.editor-inner .multiline-block.h4::first-line,
.editor-inner .uniline-block.h4,
.ls-block h4 {
    transform: translateY(-5.5px) !important;
}