body, .ls-block, .inline {
  font-variant-ligatures: common-ligatures;
  font-weight: 200 !important;
  font-size: 16px;
}
:root {
  --cl-page-width: 700px;
  --cl-page-max-width: 900px;
  --cl-font-family: "SF Pro Text";
  --cl-font-family: Inter;
  --cl-font-family: "Airbnb Cereal App";
  --cl-font-family: "Outfit";
  --ls-scrollbar-width: 0px;
}
:not(pre):not(mark)>code {
  font-family: "SF Mono";
}
.ls-block {
  padding: 2px 0px;
}
.form-checkbox, .form-radio {
    background-color: var(--cl-color-1-10);
    border: 1px solid var(--cl-color-1-20);
    border-radius: 2px;
}
.block-marker {
  font-weight: 400;
}
.pre-block>.block-main-container .bullet-container {
  display: none;
}
b, i {
  color: var(--cl-color-3-100);
}
.current-page-ref {
    text-decoration: underline;
    text-decoration-color: var(--cl-color-1-60);
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}
.page-reference:hover {
  background-color: transparent !important;
}
.ls-block :is(h1,h2,h3,h4,h5,h6) .bracket {
  display: none;
}
.block-properties {
    background-color: var(--cl-text-color-05);
    padding: 5px 8px;
    border-radius: 4px;
    margin: 0px;
    border: 0px solid var(--cl-text-color-05);
}
.block-properties>div>div+.mr-1:before {
    color: var(--cl-text-color-40);
    margin-left: 3px;
    margin-right: -3px;
    content: ":";
}
.block-properties>div>div+.mr-1 {color: transparent;}
.tag {
  color: gray !important;
}
.bracket {
  vertical-align: top;
  color: var(--cl-text-color-60) !important;
}
.ls-block .is-paragraph {
  font-size: smaller;
}
/************** REFERENCE PANEL ENHANCEMENTS ***********/
.breadcrumb.block-parents.my-2 a {
  opacity: 0.5;
}
.breadcrumb.block-parents.my-2 .bracket {
  display: none;
}
.my-2>.flex.flex-col {
    background-color: var(--cl-text-color-05);
    padding: 3px 8px;
    border-radius: 4px;
    margin: 0px;
    border: 2px dashed var(--cl-text-color-05);
}
.references-blocks-item {
  background-color: transparent !important;
  padding: 0px !important;
}
/************** BLOCK REF STYLER ***********************/
.is-block-ref {
    background-color: var(--cl-color-1-05);
    padding: 3px 8px;
    border-radius: 4px;
    border: 2px solid var(--cl-color-1-05);
}
.lazy-visibility .is-block-ref {
    border: 0px solid !important;
}
.lazy-visibility .is-block-ref>.block-children-container {
    margin-left: 0px !important;
}
.lazy-visibility .is-block-ref>.block-children-container.block-childrens {
    border-left: 0px solid;
}
.block-ref {
    border-bottom: 0px solid !important;
}
/*************** CODE MIRROR SETTINGS ******************/
.code-editor.flex.flex-1.flex-row.w-full {
  margin-top: 5px;
}
/*************** First Page Reference ******************/
.is-descriptor>.block-main-container .page-ref {
  color: var(--cl-color-2-100);
}
.is-descriptor>.block-main-container .page-reference {
  font-style: normal;
}
.is-descriptor>.block-main-container .page-reference .bracket {
    display: none;
}
.is-descriptor>.block-main-container .page-ref {
    padding: 0px;
    color: var(--cl-color-2-100);
    border-radius: 0px;
    font-weight: 500;
}
.is-collector .page-ref {
  color: var(--cl-color-3-100);
}
.is-question>.block-main-container span.inline {
    border-bottom: 1px solid var(--cl-color-3-40);
    font-weight: bolder !important;
}
.is-question>.block-children-container>.block-children, .is-question>.block-children-container>.block-children>.ls-block>.block-children-container>.block-children {
  border-left: 0px solid;
  padding-top: 0px;
}
.is-question>.block-children-container {
    margin-left: 0px;
}
.is-question {
    border: 1px solid var(--cl-text-color-20);
    border-radius: 4px;
}
.is-question>.block-children-container>.block-children>.ls-block>.block-main-container .bullet-container {
    opacity: 1;
}
/*.concept-block .page-ref {
  border-radius: 2px;
  padding: 0px;
  background-color: transparent;
  color: var(--cl-color-2-100);
  color: var(--ls-primary-text-color);
  font-weight: 700;
  text-decoration: none;
}
.concept-block .current-page-ref {
  border-bottom: 0px solid;
  background-color: transparent;
  color: var(--cl-color-1-100) !important;
}*/
.concept-block .bracket {
  display: none;
}
.concept-block:after {
  /*content: "\ee87";
  content: "―";*/
  vertical-align: inherit;
  font-family: 'tabler-icons240';
  margin-left: 3px;
  color: var(--cl-text-color-60);
}
.descriptor-block .bracket {
    display: none;
}
.descriptor-block .page-ref, .descriptor-block {
  color: var(--ls-primary-text-color);
  opacity: 0.75;
}
.descriptor-block:after {
    content: "―";
    margin: 0px 3px;
}
/****************** LUMA SETTINGS **********************/
/*.cp__right-sidebar-topbar {
  background-color: transparent !important;
}
.cp__right-sidebar .sidebar-item .initial {
  background-color: var(--bg-color) !important;
}
#main-content-container {
    background-color: var(--bg-color) !important;
    border-radius: 4px;
    margin: 0px 10px 10px;
    padding-top: 32px;
    box-shadow: var(--box-shadow-med);
    border: 1px solid var(--ls-border-color);
    z-index: 8;
}
.cp__sidebar-main-layout, #app-container, .left-sidebar-inner {
  background-color: var(--bg-color-1) !important;
}
.left-sidebar-inner {
  border-right: 0px solid;
}

/* experimental */
/*@media (hover: hover) {

  .cp__header,
  .cp__right-sidebar-topbar {
    height: 10px;
    opacity: 0;
    transition: all 150ms ease-in-out;
  }

  .cp__header:hover,
  .cp__right-sidebar-topbar:hover {
    height: 44px;
    opacity: 1;
  }

  .r.flex {
    flex-grow: 0;
  }
}

@media (min-width: 1024px) {
  .cp__right-sidebar.closed {
    width: 0 !important;
  }
}

/****************** LONG FORM WRITING ******************/
/*.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-main-container .bullet-container {
    display: none;
}
.flex-1.page.relative:not(.is-journals)>.relative .ls-block[level="1"], .flex-1.page.relative:not(.is-journals)>.relative .ls-block[level="2"] {
  padding: 5px 0px;
}
.flex-1.page.relative:not(.is-journals)>.relative .ls-block[level="1"]+.ls-block[level="1"][haschild="true"] {
    margin-top: 10px;
}

.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-children-container>.block-children {
    border-left: 0px solid;
}
.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-children-container>.block-children-left-border {
    display: none;
}
.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-children-container {
    border-left: 0px solid;
    margin-left: 0px;
}
.flex-1.page.relative:not(.is-journals)>.relative .ls-block[level="1"][haschild="true"]>.block-main-container span.inline {
    font-weight: 600 !important;
  font-size: 120% !important;
}
.flex-1.page.relative:not(.is-journals)>.relative .ls-block[level="2"] + .ls-block[level="2"][haschild="true"] {
    padding-top: 15px !important;
}
.flex-1.page.relative:not(.is-journals)>.relative :not(.ls-block[level="1"]) .ls-block[level="2"]:hover {
    background-color: var(--cl-text-color-05);
}