body, .ls-block, .inline {
  font-variant-ligatures: common-ligatures;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: -0.00622354em !important;
}
:root {
  --cl-page-width: 600px;
  --cl-page-max-width: 900px;
  --cl-font-family: "Euclid Circular A";
  --cl-font-family: "Consolas";
  --cl-font-family: "SF Pro Text";
  --cl-font-family: "Segoe UI";
  --cl-font-family: Inter;
  --cl-font-family: "SF Pro Text";
  --ls-scrollbar-width: 0px;
}
.current-page-ref {
  border-bottom: 1px solid;
  color: var(--cl-color-2-100);
}
.page-reference:hover {
  background-color: transparent !important;
}
.last-with-siblings:hover .page-ref {
  color: var(--cl-color-1-100) !important;
}
.last-with-siblings .current-page-ref {
  border-bottom: 0px solid;
}
.last-with-siblings .page-ref {
  background-color: var(--cl-color-1-10) !important;
  padding: 1px 5px !important;
  color: var(--cl-color-1-80) !important;
  border-radius: 2px;
  font-weight: 300;
}
.last-with-siblings .current-page-ref {
  background-color: var(--cl-color-2-10) !important;
  padding: 1px 5px !important;
  color: var(--cl-color-2-80) !important;
  border-radius: 2px;
  font-weight: 300;
}
/*.last-with-siblings .page-ref:after {
  content: "―";
  content: "\eb2d";
  vertical-align: middle;
  font-family: 'tabler-icons240';
  margin-left: 3px;
  color: var(--cl-color-1-100);
}*/
.last-with-siblings:after {
  content: "\ee87";
  content: "―";
  vertical-align: inherit;
  font-family: 'tabler-icons240';
  margin-left: 3px;
  color: var(--cl-text-color-60);
}
.last-with-siblings .bracket {
    display: none;
}
/*.first-with-siblings {
    background-color: var(--cl-text-color-100);
    padding: 2px 5px;
    border-radius: 2px;
}
.first-with-siblings .page-ref {
    color: var(--bg-color) !important;
}*/
.block-properties {
  display: inline-block;
}
.block-properties>div>div+.mr-1:before {
    content: "\ea1c";
    font-family: 'tabler-icons240';
    color: var(--cl-text-color-40);
    vertical-align: middle;
    margin-left: 3px;
    margin-right: -3px;
  font-size: smaller;
}
.my-2>.flex.flex-col>.initial {
    background-color: var(--bg-color-1);
    padding: 0px;
    border-radius: 2px;
    margin: 0px;
}
.flex-1.flex-row.foldable-title .page-ref:before {
    font-family: 'tabler-icons240';
    content: "\eb6e";
    font-weight: 100 !important;
    margin-right: 5px;
}
.block-properties>div>div+.mr-1 {color: transparent;}





.tag {
  background-color: var(--cl-color-1-10) !important;
  padding: 1px 5px !important;
  color: var(--cl-color-1-80) !important;
  border-radius: 2px;
  font-weight: 300;
}
.tag {
  background-color: var(--cl-color-2-10) !important;
  padding: 1px 5px !important;
  color: var(--cl-color-2-80) !important;
  border-radius: 2px;
  font-weight: 300;
}
/*.last-with-siblings .page-ref:after {
  content: "―";
  content: "\eb2d";
  vertical-align: middle;
  font-family: 'tabler-icons240';
  margin-left: 3px;
  color: var(--cl-color-1-100);
}*/
.first-tag:before {
  content: "\ee87";
  content: "―";
  vertical-align: inherit;
  font-family: 'tabler-icons240';
  margin-right: 3px;
  color: var(--cl-text-color-60);
}
.first-tag .bracket {
    display: none;
}

/****************** LONG FORM WRITING ******************/
/*.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-main-container .bullet-container {
  display: none;
}
.flex-1.page.relative:not(.is-journals)>.relative .ls-block[level="1"]+.ls-block[level="1"][haschild="true"] {
  margin-top: 10px;
}
.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-children-container>.block-children {
  border-left: 0px solid;
}
.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-children-container>.block-children-left-border {
  display: none;
}
.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-children-container {
  border-left: 0px solid;
  margin-left: 0px;
}
.flex-1.page.relative:not(.is-journals)>.relative .ls-block[level="2"]>.block-children-container {
  margin-left: 2px !important;
}
.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"]) {
  padding: 4px 0px !important;
}
.flex-1.page.relative:not(.is-journals)>.relative :is(.ls-block[level="1"], .ls-block[level="2"], .ls-block[level="3"][haschild="true"])>.block-main-container:hover {
  background-color: transparent;
}
.flex-1.page.relative:not(.is-journals)>.relative :not(.ls-block[level="1"]) .ls-block[level="2"]:hover {
  background-color: var(--cl-text-color-05);
}