/********************************************
          MARKDOWN ENHANCEMENTS
********************************************/

/* Code Blocks */
.block-ref .block-body {
    display: contents;
}

/* Example BLocks */
.pre-wrap-white-space {
    background-color: hsl(var(--cl-secondary), 0.05);
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid hsl(var(--cl-secondary));
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: unset;
    border-radius: 0px;
}

.pre-wrap-white-space:before {
    content: "\ef40";
    font-family: 'tabler-icons';
    align-self: center;
    color: hsl(var(--cl-secondary));
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

/* Inline Code */
:not(pre):not(mark)>code {
    padding: 2px 6px !important;
    color: hsl(var(--cl-secondary), 1);
    border-radius: 2px;
    font-family: "SF Mono", MonoLisa, Fira Code, Monaco, Menlo, Consolas, COURIER NEW, monospace;
    border: 0px dashed hsl(var(--cl-text-color), 0.15);
}

:not(pre):not(mark)>code {
    background-color: hsl(var(--cl-secondary), 0.1);
}

/*:not(pre):not(mark)>code:before {
    content: "\ea61";
    color: hsl(var(--cl-primary));
    font-family: 'tabler-icons';
    vertical-align: middle;
    margin-left: -4px;
    font-size: x-small;
    padding-left: 3px;
}*/

/* Highlights */
mark {
    background-color: hsl(var(--cl-secondary), 0.15);
    padding: 4px 0px !important;
    border-radius: 1px;
    color: hsl(var(--cl-secondary), 1);
    text-decoration: underline;
    text-underline-offset: 2px;
}

mark .external-link {
    text-decoration-skip: auto;
}

mark>code {
    background-color: transparent !important;
    color: hsl(var(--cl-primary), 1) !important;
    line-height: inherit !important;
    padding: 0px 2px;
}

mark>code:before,
mark>code:after {
    content: "`";
}

/* Blockquotes */
blockquote {
    background-color: hsl(var(--cl-secondary), 0.05);
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid hsl(var(--cl-secondary));
    padding-top: 15px;
    padding-bottom: 15px;
}

blockquote:before {
    content: "\ee09";
    font-family: 'tabler-icons';
    align-self: center;
    color: hsl(var(--cl-secondary));
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

/*  === Headings ===  */
.editor-inner .multiline-block:is(.h1, .h2, .h3, .h4, .h5, .h6):first-line,
.editor-inner .uniline-block:is(.h1, .h2, .h3, .h4, .h5, .h6),
.ls-block :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 700;
    font-family: var(--cl-header-font, var(--ls-font-family));
}

.ls-block h1,
.editor-inner .h1.uniline-block {
    font-size: 28px;
}

.ls-block h2,
.editor-inner .h2.uniline-block {
    font-size: 24px;
}

.ls-block h3,
.editor-inner .h3.uniline-block {
    font-size: 22px;
}

.ls-block h4,
.editor-inner .h4.uniline-block {
    font-size: 20px;
}

.ls-block h5,
.editor-inner .h5.uniline-block {
    font-size: 18px;
}

.ls-block h6,
.editor-inner .h6.uniline-block {
    font-size: 17px;
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
    margin: 0px;
}

.ls-block h1,
.editor-inner .uniline-block.h1 {
    border-bottom: 0px;
}

.ls-block h2,
.editor-inner .uniline-block.h2 {
    border-bottom: 0px;
}

/*.ls-block :is(h1,h2,h3,h4,h5,h6):after {
    font-weight: 700;
    margin-left: 15px;
    font-size: xx-small;
    vertical-align: middle;
    color: hsl(var(--cl-text-color), 0.3);
    background-color: hsl(var(--cl-text-color), 0.05);
    padding: 3px;
    border-radius: 4px;
}
.ls-block h1:after {
    content: "H1";
}
.ls-block h2:after {
    content: "H2";
}
.ls-block h3:after {
    content: "H3";
}
.ls-block h4:after {
    content: "H4";
}
.ls-block h5:after {
    content: "H5";
}
.ls-block h6:after {
    content: "H6";
}*/

/* === PRIORITIES === */
a[priority]:not(a[priority=""])::before,
a.priority::before {
    font-size: 16px;
    font-family: 'tabler-icons240';
    vertical-align: bottom;
}

a[priority]:not(a[priority=""]),
a.priority {
    font-size: 0px;
    opacity: 0.8;
    font-weight: 500;
    margin-right: 0px !important;
}

a[priority="A"]::before,
a.priority[href="#/page/A" i]::before {
    content: "\f6e7";
    color: #ef4444;
}

a[priority="B"]::before,
a.priority[href="#/page/B" i]::before {
    content: "\f6e0";
    color: #f59e0b;
}

a[priority="C"]::before,
a.priority[href="#/page/C" i]::before {
    content: "\f6e4";
    color: #3b82f6;
}

/*  === Checkboxes ===  */
.form-checkbox {
    background-color: hsl(var(--cl-text-color), 0.02);
    border: 1.7px solid hsl(var(--cl-text-color), 0.2);
    border-style: solid;
    border-radius: 3px;
    position: relative;
    opacity: var(--cl-checkbox-opacity, 1);
    width: 14px;
    height: 14px;
    top: -1px;
}

.form-checkbox:checked {
    background-color: hsl(var(--cl-accent)) !important;
    opacity: 1;
}

/* TASK NAMES */

.block-marker {
    font-size: inherit;
    font-weight: 400;
    color: var(--ls-secondary-text-color);
    opacity: 0.8;
}

.block-marker:hover {
    color: var(--ls-primary-text-color);
    opacity: 1;
}

.page-property-value {
    color: hsl(var(--cl-text-color), 0.95);
}

/*.page-properties .inline.mr-1:before {
    content: "●";
    color: var(--ls-block-bullet-color);
    padding-right: 10px;
    vertical-align: middle;
    font-size: 8px;
}
    
.page-properties > div > .page-property-key {
    display: -webkit-inline-box;
    min-width: 220px;
    max-width: 220px;
    text-transform: capitalize;
    font-weight: 400;
}
    
.page-properties {
      background: transparent !important;
      display: inline-block;
}
.page-properties > div > span.mr-1 {
    display: none;
}
    
.page-properties > div {
      padding: 2px 0px;
      display: flex;
}

.pre-block .bullet-container {
    display: none;
}

/* ==== ADMON PANELS ==== */
.admonition-icon {
    display: none;
}

.abstract,
.admonitionblock {
    margin: 0px;
}

.color-level .flex.flex-row.admonitionblock.align-items:is(.note, .tip, .warning, .important, .caution, .pinned):before {
    background-color: var(--bg-color-1);
}

.flex.flex-row.admonitionblock.align-items.note {
    background-color: #448aff0d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #448aff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}

.flex.flex-row.admonitionblock.align-items.note:before {
    content: "\eb04";
    font-family: 'tabler-icons';
    align-self: center;
    color: #448aff;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

.flex.flex-row.admonitionblock.align-items.tip {
    background-color: #1ebfa50d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #1ebfa5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}

.flex.flex-row.admonitionblock.align-items.tip:before {
    content: "\ea51";
    font-family: 'tabler-icons';
    align-self: center;
    color: #1ebfa5;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

.flex.flex-row.admonitionblock.align-items.important {
    background-color: #ff52520d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #ff5252;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}

.flex.flex-row.admonitionblock.align-items.important:before {
    content: "\eb48";
    font-family: 'tabler-icons';
    align-self: center;
    color: #ff5252;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

.flex.flex-row.admonitionblock.align-items:is(.warning, .caution) {
    background-color: #ff91000d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #ff9100;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}

.flex.flex-row.admonitionblock.align-items:is(.warning, .caution):before {
    content: "\ea06";
    font-family: 'tabler-icons';
    align-self: center;
    color: #ff9100;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

.flex.flex-row.admonitionblock.align-items.pinned {
    background-color: #7c4dff0d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #7c4dff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}

.flex.flex-row.admonitionblock.align-items.pinned:before {
    content: "\ed60";
    font-family: 'tabler-icons';
    align-self: center;
    color: #7c4dff;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

/* Block Control Arrow */
svg.h-4.w-4 {
    color: var(--ls-secondary-text-color);
}

/* Block Properties */
.page-property-key {
    color: hsl(var(--cl-text-color), 0.95);
    text-transform: lowercase;
}

.page-property-key:hover {
    color: hsl(var(--cl-text-color));
    background-color: transparent;
}

/* Block Properties */
:is(.page-properties, .block-properties)>div:not(:only-child),
.color-level :is(.page-properties, .block-properties)>div:not(:only-child) {
    letter-spacing: 0px !important;
    word-spacing: normal !important;
    font-family: var(--ls-font-family) !important;
    background-color: hsl(var(--cl-properties-background-color, var(--cl-background), 0.35));
    color: hsl(var(--cl-text-color), 0.9);
    padding: 0px 10px;
}

:is(.block-properties, .page-properties)>div:only-child {
    background-color: transparent !important;
    margin: 0px;
    padding: 0px;
}

:is(.block-properties, .page-properties)>div:only-child>.mr-1 {
    margin: 0px 2px;
    position: relative;
    top: -1px;
}

:is(.block-properties, .page-properties)>div:only-child>div>.page-property-key {
    font-weight: 600;
    text-transform: uppercase;
}

:is(.block-properties, .page-properties) {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

.page-properties a.tag {
    background-color: transparent;
    padding: 0px;
    border: 0px solid;
    color: hsl(var(--cl-secondary));
    font-weight: 400;
}

.page-properties a.tag:hover {
    color: hsl(var(--cl-secondary));
}

.page-properties a.tag .awLinks-page-icon {
    display: none;
}

/* Some values take on important to avoid style plugins from overriding these settings */

/* hide icons for properties */
.block-properties:not(.page-properties) .page-ref .awLinks-page-icon {
    display: none;
}

/* Tags inside block properties */
.block-properties:not(.page-properties) a.tag {
    background-color: transparent;
    padding: 0px;
    color: hsl(var(--cl-secondary));
    border: 0px solid;
    font-weight: 400;
    font-size: 13px;
}

.block-properties:not(.page-properties) a.tag:hover {
    color: hsl(var(--cl-secondary));
}

.block-properties:not(.page-properties) .bracket {
    display: none;
}

.block-properties :not(page-properties)+.block-body {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

/* Tags */
a.tag {
    background-color: hsl(var(--cl-secondary), 0);
    color: hsl(var(--cl-secondary), 1);
    padding: 0px 0px;
    border-radius: 2px;
    border-color: hsl(var(--cl-secondary), 0.15);
    transition: 0.2s;
    font-size: 13.6px;
}

a.tag:hover {
    background-color: hsl(var(--cl-secondary), 0);
    color: hsl(var(--cl-secondary), 1);
    opacity: 1;
}

.is-paragraph .tag {
    background-color: transparent;
    color: var(--ls-secondary-text-color);
    text-transform: lowercase;
    font-weight: 400;
}

.is-paragraph .tag:hover {
    color: hsl(var(--cl-primary));
}

.ls-block :is(h1, h2, h3, h4, h5, h6) a.tag {
    font-weight: bold;
}

body {
    color: var(--ls-primary-text-color);
    -webkit-font-smoothing: auto;
}

/* External Links */
.external-link {
    color: var(--ls-primary-text-color);
    padding: 0px;
    border: 0px;
    border-bottom: 1px solid hsl(var(--cl-primary));
}

/* Block Highlighter */
.inline.px-1.with-bg-color {
    padding-bottom: 1px;
    border-radius: 2px;
}

span.inline.px-1.with-bg-color[style*="red"] {
    color: var(--ls-highlight-color-red-text);
    filter: brightness(0.75);
}

span.inline.px-1.with-bg-color[style*="gray"] {
    color: var(--ls-highlight-color-gray-text);
    filter: brightness(0.75);
}

span.inline.px-1.with-bg-color[style*="yellow"] {
    color: var(--ls-highlight-color-yellow-text);
    filter: brightness(0.75);
}

span.inline.px-1.with-bg-color[style*="green"] {
    color: var(--ls-highlight-color-green-text);
    filter: brightness(0.75);
}

span.inline.px-1.with-bg-color[style*="blue"] {
    color: var(--ls-highlight-color-blue-text);
    filter: brightness(0.75);
}

span.inline.px-1.with-bg-color[style*="purple"] {
    color: var(--ls-highlight-color-purple-text);
    filter: brightness(0.75);
}

span.inline.px-1.with-bg-color[style*="pink"] {
    color: var(--ls-highlight-color-pink-text);
}

/* Page Titles */
h1.title {
    font-family: var(--cl-title-font, var(--ls-font-family));
    font-weight: 700;
    filter: saturate(0.85);
}

/* Fixes the line-break for long page titles */
.ls-page-title.title span {
    white-space: normal !important;
}

/* Interface Improvements */

@media (hover: hover) {

    body {
        letter-spacing: -0.00622354em;
    }

    .left-sidebar-inner>div>nav {
        margin-left: 0px !important;
    }

    .left-sidebar-inner>div>nav>div>a {
        font-size: 13px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .left-sidebar-inner>div>nav>div>div>a {
        font-size: 13px;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    /* Make top header bar a neutral color */
    div#head,
    .cp__right-sidebar-topbar {
        opacity: 1;
    }

    .flex.flex-col.wrap.gap-1.relative {
        opacity: 1;
    }

    /* Favorites & Recent Bar */
    .left-sidebar-inner .nav-contents-container.is-scrolled,
    .left-sidebar-inner .nav-contents-container {
        border-top: 0px solid var(--ls-tertiary-border-color);
        max-height: 65%;
    }

    .favorites {
        margin-left: 0px;
        margin-top: 16px;
        font-size: 13px;
    }

    .favorite-item,
    .recent-item {
        margin-top: 0;
        margin-bottom: 0;
    }

    .cp__sidebar-left-layout.is-open+#main-content-container {
        margin: 0 10px 10px 0px;
    }

    .cp__header {
        height: 44px;
    }

    .cp__header>.r {
        flex: 0 1 auto;
    }

    .cp__header>.l {
        margin-top: 4px;
    }

    .cp__right-sidebar-topbar {
        /* display: none; */
        height: 44px;
    }

    .sidebar-item-list {
        /* margin-top: 44px; */
        margin-right: 12px;
        border-radius: 6px;
        height: calc(100vh - 56px) !important;
    }

    .sidebar-item {
        margin: 0 0 4px 0px;
        box-shadow: none;
    }
}

/* References Section */
.references-blocks>div>div>.content>div.flex.flex-col {
    row-gap: 22px;
}

/* Main Reference Panels surround each block */

/*:is(.lazy-visibility, .lazy-visibility > .fade-enter) .color-level>.flex.flex-col>.initial>div>.blocks-container,
.cp__right-sidebar .references.page-linked .color-level>.flex.flex-col>.initial>div>.blocks-container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding-right: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid var(--bg-color-2);
}

.white-theme :is(.lazy-visibility, .lazy-visibility > .fade-enter) .color-level>.flex.flex-col>.initial>div>.blocks-container {
    background-color: var(--bg-color-1);
}

.dark-theme :is(.lazy-visibility, .lazy-visibility > .fade-enter) .color-level>.flex.flex-col>.initial>div>.blocks-container,
.dark-theme .cp__right-sidebar .references.page-linked .color-level>.flex.flex-col>.initial>div>.blocks-container {
    background-color: var(--bg-color-1);
}

.white-theme .cp__right-sidebar .references.page-linked .color-level>.flex.flex-col>.initial>div>.blocks-container {
    background-color: var(--bg-color-1);
}

.dark-theme .cp__right-sidebar .references.page-linked .color-level>.flex.flex-col>.initial>div>.blocks-container {
    background-color: var(--bg-color-1);
}

:is(.lazy-visibility, .lazy-visibility > .fade-enter) .color-level,
.cp__right-sidebar .references.page-linked .lazy-visibility .color-level {
    background-color: transparent;
    padding: 8px 0px;
}*/
.color-level {
    background-color: var(--bg-color-1);
    border: 1px solid hsl(var(--cl-text-color), 0.1);
    padding-bottom: 20px;
}

/* set reference panel style for each matched block rather than page */
.color-level .initial>div>.blocks-container {
    border: 2px solid hsl(var(--cl-background), 0.5);
    border-radius: 5px;
    background-color: var(--bg-color);
    padding: 5px 0px;
    margin: 8px 0px;
}

/* background color to right side panel */
.cp__right-sidebar-scrollable {
    background-color: var(--bg-color);
}

/* Title Elements */
.flex-1.flex-row.foldable-title,
.block-parents a {
    color: hsl(var(--cl-text-color), 1);
}

/* Adjust font size on the page-ref titles in the references block section */
.flex-1.flex-row.foldable-title .page-ref {
    color: hsl(var(--cl-primary), 1);
}

/* Improved Bullets */
:is(.ls-block[data-refs-self*='"question'], .ls-block[data-refs-self*='"claim'], .ls-block[data-refs-self*='"evidence'])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
    font-family: 'tabler-icons240';
    color: var(--ls-block-bullet-color);
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -4px;
    letter-spacing: -8px;
    font-size: 14px;
}

:is(.ls-block[data-refs-self*='"question'], .ls-block[data-refs-self*='"claim'], .ls-block[data-refs-self*='"evidence'])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet {
    background-color: transparent;
    color: transparent;
}

:is(.ls-block[data-refs-self*='"question'], .ls-block[data-refs-self*='"claim'], .ls-block[data-refs-self*='"evidence'])>.flex.flex-row.pr-2>.block-control-wrap a:hover>.bullet-container {
    background-color: transparent !important;
    color: transparent !important;
}

:is(.ls-block[data-refs-self*='"question'], .ls-block[data-refs-self*='"claim'], .ls-block[data-refs-self*='"evidence'])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet {
    background-color: transparent;
}

.ls-block[data-refs-self*='"question']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
    content: "\edeb" !important;
}

.ls-block[data-refs-self*='"claim']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
    content: "\f028" !important;
}

.ls-block[data-refs-self*='"evidence']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
    content: "\ebd2" !important;
}

/* Give the linked & unlinked titles custom icons */
.page-linked h2.font-medium {
    color: hsl(var(--cl-text-color), 0.5);
}

.page-linked h2.font-medium:before {
    content: "\eade";
    font-family: 'tabler-icons240';
    font-size: 16px;
}

.page-unlinked h2.font-medium {
    color: hsl(var(--cl-text-color), 0.5);
}

.page-unlinked h2.font-medium:before {
    content: "\f402";
    font-family: 'tabler-icons240';
    font-size: 16px;
}

/* align breadcrumb arrow in ref panel */
.lazy-visibility>.fade-enter>.color-level>.flex.flex-col>.initial>div>.breadcrumb span.mx-2.opacity-50:before {
    font-size: 12px;
    vertical-align: baseline;
}

/* add table layouts to reference panel */

.initial>.references-blocks>div>div>.content>.flex.flex-col>.lazy-visibility>.fade-enter>.color-level>.flex.flex-col>.content>.flex-1.flex-row.foldable-title {
    margin-bottom: 3px;
}

/*
.initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container.flex-1>.lazy-visibility>.fade-enter>.ls-block>.block-children-container>.block-children-left-border {
    display: none;
}
.initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container.flex-1>.lazy-visibility>.fade-enter>.ls-block>.block-children-container>.block-children {
    border-left: 0px solid;
}
.initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container.flex-1>.lazy-visibility>.fade-enter>.ls-block>.flex.flex-row {
    flex: 0 0 var(--cl-left-panel);
    margin-left: -30px;
}
.cp__right-sidebar .initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container.flex-1>.lazy-visibility>.fade-enter>.ls-block>.flex.flex-row {
    flex: 0 0 150px;
}
.ls-wide-mode .initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container.flex-1>.lazy-visibility>.fade-enter>.ls-block>.block-children-container .extensions__code {
    width: calc(var(--cl-right-panel-wide) - 90px);
}
.initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container.flex-1>.lazy-visibility>.fade-enter>.ls-block>.block-children-container .extensions__code {
    width: calc(var(--cl-right-panel) - 90px);
}
.initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container.flex-1>.lazy-visibility>.fade-enter>.ls-block>.block-children-container {
    flex: 1 var(--cl-right-panel);
}
.initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container.flex-1>.lazy-visibility>.fade-enter>.ls-block {
    display: flex;
    flex-direction: row;
}
.initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div > .blocks-container > .lazy-visibility:nth-child(even) {
    background-color: hsl(var(--cl-text-color), 0.1);
}
.initial > .references-blocks > div > div > .content > .flex.flex-col > .lazy-visibility > .fade-enter > .color-level > .flex.flex-col > .initial > div:not(:first-child) {
    border-top: 1px solid hsl(var(--cl-text-color), 0.1);
    margin: 10px 0px;
    padding: 10px 0px;
}

/* Add table view to journal pages */
/*
#journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block {
    display: flex;
    flex-direction: row;
}
.ls-wide-mode #journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block .extensions__code {
    width: calc(var(--cl-right-panel-wide) - 90px);
}
#journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block .extensions__code {
    width: calc(var(--cl-right-panel) - 70px);
}
:not(.ls-wide-mode) #journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row.pr-2 {
    flex: 0 calc(var(--ls-main-content-max-width) * .45);
}
.ls-wide-mode #journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row.pr-2 {
    flex: 0 calc(var(--ls-main-content-max-width-wide) * .4);
}
#journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row.pr-2 .block-marker {
    display: inline-flex;
}

#journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row.pr-2>.block-children-container>.block-children {
    border-left: 0px solid !important;
}

#journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children {
    border-left: 0px solid;
}

#journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children-left-border {
    display: none;
}

#journals>div>.journal-item>.flex-1>.flex.flex-col>.content+.initial>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container {
    margin-left: 0px;
    flex: 1 100%;
    position: relative;
    top: -4px;
}
/* add table view to standard pages */
/*
#main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block {
    display: flex;
    flex-direction: row;
}

:not(.ls-wide-mode) #main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row.pr-2 {
    flex: 0 calc(var(--ls-main-content-max-width) * .45);
    min-width: 300px;
}
.ls-wide-mode #main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row.pr-2 {
    flex: 0 calc(var(--ls-main-content-max-width-wide) * .4);
    min-width: 350px;
}
#main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row.pr-2 .block-marker {
    display: inline-flex;
}

#main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row.pr-2>.block-children-container>.block-children {
    border-left: 0px solid !important;
}

#main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children {
    border-left: 0px solid;
}

#main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children-left-border {
    display: none;
}

#main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container {
    margin-left: 0px;
    flex: 1 100%;
    position: relative;
    top: -4px;
}
#main-content-container>div>.mx-auto>.flex-1>.relative > div+div>div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block:not(:first-child) {
    border-top: 1px solid hsl(var(--cl-text-color), 0.1);
    margin: 10px 0px;
    padding: 10px 0px;
}

/* Add table view to drill downs */
/*
:not(.ls-wide-mode) #main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children>.ls-block>.flex.flex-row.pr-2 {
    flex: 0 calc(var(--ls-main-content-max-width) * .45);
    min-width: 300px;
}
.ls-wide-mode #main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children>.ls-block>.flex.flex-row.pr-2 {
    flex: 0 calc(var(--ls-main-content-max-width-wide) * .4);
    min-width: 350px;
}
#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children>.ls-block:nth-child(even) {
    background-color: hsl(var(--cl-text-color), 0.05);
}
#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children>.ls-block {
    display: flex;
    flex-direction: row !important;
    margin-left: -7px;
}

#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block {display: revert;flex-direction: row;}

#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children>.ls-block>.block-children-container {
    margin-left: 0px;
    flex: 1 100%;
    position: relative;
    top: -4px;
}

#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children>.ls-block>.flex.flex-row.pr-2 {
    flex: 0 300px;
    min-width: 300px;
}

#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row .bullet-container {display: none;}

#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children {
    border-left: 0px solid;
    margin-top: 12px;
}

#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.flex.flex-row>.flex.flex-col>.flex.flex-row {
    font-size: 125%;
    margin-left: -9px;
    font-weight: 600;
    margin-top: 15px;
}

#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container>.block-children>.ls-block>.block-children-container>.block-children {
    border-left: 0px;
}

#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container.flex {
    margin-left: 0px;
}
#main-content-container>div>.mx-auto>.flex-1>.relative>div>.mb-4+div>.page-blocks-inner>div>div>.content>.blocks-container>div>div>.ls-block>.block-children-container.flex>.block-children-left-border {
    display: none;
}
*/
.ls-block .page-reference[data-ref^="root/"]:before {
    content: "#";
    font-weight: 400;
}

.ls-block .page-reference[data-ref^="root/"] .bracket {
    display: none;
}

.foldable-title .page-ref[data-ref*="root/"]:before {
    content: "#";
    color: var(--ls-primary-text-color);
}

.page-reference .page-ref {
    background-color: transparent;
    border-bottom: 0px solid;
    color: hsl(var(--cl-primary));
}

.page-reference .page-ref {
    color: hsl(var(--cl-primary));
    border-radius: 0px;
    border-bottom: 0px solid;
}

/* Smart blocks */
.templater-btn {
    border: 0px solid !important;
    color: hsl(var(--cl-secondary));
    font-weight: 600;
    padding: 0px 2px !important;
}

.lsp-hook-ui-slot {
    display: inline-block;
}

/* breadcrumbs color */
.breadcrumb a,
.breadcrumb .page-reference .bracket:first-child:before,
.breadcrumb .page-reference .bracket:last-child:after {
    color: hsl(var(--cl-text-color), 0.5) !important;
}

/* Put nav buttons on one row, no text */
.nav-header {
    margin-left: 2px;
}

.nav-header .flex-1 {
    display: none
}

.nav-header .item {
    margin-left: 4px;
    padding: 2px !important;
}

.nav-header .ui__icon {
    margin-right: 0px !important;
}

.nav-header {
    flex-direction: row;
}

.flashcards-nav .inline-block {
    margin-left: 2px;
    padding: 0px;
}