.concept-block>.block-main-container span.inline {
    border-radius: 3px;
    padding: 2px 3px;
    background-color: hsl(var(--cl-color-1), 0.07);
    color: hsl(var(--cl-color-1));
}
.concept-block>.block-main-container span.inline .page-ref {
    border-bottom: 1px solid;
    color: hsl(var(--cl-color-1));
}

.concept-block>.block-main-container>.block-control-wrap {
    align-self: center;
}
.white-theme .concept-block>.block-main-container :not(pre):not(mark)>code {
    background-color: hsl(var(--cl-text-color), 0.05);
}