#left-sidebar .color-level .color-level {
    background-color: var(--bg-color-1);
}
.references .color-level .color-level {
    border: 1px solid var(--bg-color-3);
    padding: 8px;
    border-radius: 5px;
}