/* Fix for bullet threading */
/*.ls-block .bullet {
  box-shadow: none !important;
}*/

.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container {
  position: relative;
  top: -6px;
  left: -5px;
}

.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed,
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container:not(.bullet-closed) .bullet {
  background-color: transparent !important;
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a:hover>.bullet-container {
  background-color: transparent !important;
}

.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed,
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed .bullet {
  background-color: transparent !important;
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a:hover>.bullet-container .bullet {
  transform: scale(1.1);
}

.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container {
  position: relative;
  top: -8.5px;
  left: -5px;
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-family: 'tabler-icons240';
  border-radius: 50%;
  vertical-align: middle;
  color: hsl(var(--cl-text-color), 0.6);
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  font-family: 'tabler-icons240';
  vertical-align: middle;
  color: hsl(var(--cl-text-color), 0.6);
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  background-color: transparent;
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed {
  background-color: transparent !important;
}
.is-concept[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\eb67" !important;
  font-weight: 100;
  color: var(--cl-color-1-60) !important;
}
.is-concept[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f747" !important;
  font-weight: 100;
  color: var(--cl-color-1-60) !important;
}
.is-collector[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\eaad" !important;
  font-weight: 100;
  color: var(--cl-color-1-60) !important;
}
.is-collector[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f749" !important;
  font-weight: 100;
  color: var(--cl-color-1-60) !important;
}
.is-descriptor[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f3a3" !important;
  font-weight: 100;
  color: var(--cl-color-1-60) !important;
}
.is-descriptor[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f719" !important;
  font-weight: 100;
  color: var(--cl-color-1-60) !important;
}
.ls-block[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-20);
}
.ls-block[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ea5f";
  font-weight: 100;
  color: var(--cl-text-color-20);
}
.ls-block[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ea61";
  font-weight: 100;
  color: var(--cl-text-color-20);
}
*.ls-block[data-refs-self*="[\""][haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  color: var(--cl-text-color-20);
  content: "\eb67";
}
.ls-block[data-refs-self*="[\""][haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before, .ls-block[data-refs-self*="[\""][haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  color: var(--cl-text-color-20);
  content: "\f747";
}
/*.pre-block[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before, .pre-block[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ea08" !important;
}
.pre-block .bullet:before {
  content: "\eaf2" !important;
}*/
:is(.ls-block[data-refs-self^="[\"todo\""][haschild="false"], .ls-block[data-refs-self^="[\"doing\""][haschild="false"], .ls-block[data-refs-self^="[\"now\""][haschild="false"])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
:is(.ls-block[data-refs-self^="[\"todo\""][haschild="true"], .ls-block[data-refs-self^="[\"doing\""][haschild="true"], .ls-block[data-refs-self^="[\"now\""][haschild="true"])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
:is(.ls-block[data-refs-self^="[\"doing\""][haschild="false"], .ls-block[data-refs-self^="[\"now\""][haschild="false"])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
:is(.ls-block[data-refs-self^="[\"doing\""][haschild="true"], .ls-block[data-refs-self^="[\"now\""][haschild="true"])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
:is(.ls-block[data-refs-self^="[\"wait\""], .ls-block[data-refs-self^="[\"waiting\""])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
:is(.ls-block[data-refs-self^="[\"wait\""], .ls-block[data-refs-self^="[\"waiting\""])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
:is(.ls-block[data-refs-self^="[\"cancelled\""], .ls-block[data-refs-self^="[\"canceled\""])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
:is(.ls-block[data-refs-self^="[\"cancelled\""], .ls-block[data-refs-self^="[\"canceled\""])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
.ls-block[data-refs-self^="[\"done\""][haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
.ls-block[data-refs-self^="[\"done\""][haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-40);
}
.pre-block[data-refs-self*="[\""]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  color: var(--cl-text-color-40);
  content: "\f698";
}
.pre-block[data-refs-self*="[\""]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  color: var(--cl-text-color-40);
  content: "\ea61";
}
/* ADD YOUR PAGE TYPES BELOW */
.type-block[data-ref*='indexcard']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f014" !important;
}
.type-block[data-ref*='indexcard']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f014" !important;
}
.type-block[data-ref*='fleeting']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f97d" !important;
}
.type-block[data-ref*='fleeting']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f97d" !important;
}
.type-block[data-ref*='project']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ea38" !important;
}
.type-block[data-ref*='project']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ea38" !important;
}
.type-block[data-ref*='resource']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\eb54" !important;
}
.type-block[data-ref*='resource']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\eb54" !important;
}
.type-block[data-ref*='question']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ec9d" !important;
}
.type-block[data-ref*='question']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ec9d" !important;
}
.type-block[data-ref*='goal']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\eb45" !important;
}
.type-block[data-ref*='goal']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\eb45" !important;
}
.type-block[data-ref*='task']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f76d" !important;
}
.type-block[data-ref*='task']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f76d" !important;
}
.type-block[data-ref*='milestone']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ec76" !important;
}
.type-block[data-ref*='milestone']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ec76" !important;
}
.type-block[data-ref*='problem']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f681" !important;
}
.type-block[data-ref*='problem']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f681" !important;
}
.type-block[data-ref*='planning']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ecdd" !important;
}
.type-block[data-ref*='planning']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ecdd" !important;
}
.descriptor-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f635" !important;
  color: var(--cl-color-2-100)
}
.descriptor-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f635" !important;
  background-color: hsl(var(--cl-color-2), 0.15);
  color: var(--cl-color-2-100);
}
.concept-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f561" !important;
  color: var(--cl-color-1-100)
}
.concept-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f561" !important;
  background-color: hsl(var(--cl-color-1), 0.15);
  color: var(--cl-color-1-100);
}
.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="false"] {
  background-color: transparent !important;
  margin-top: 20px;
}
.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="false"] :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}
.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"]:is([haschild="false"], [haschild="true"]) .bullet-container {
  opacity: 0;
}
.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="true"]>.block-children-container>.block-children>.ls-block {
  max-height: 200px;
  max-width: max-content;
  margin-top: 5px;
}

.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="true"]>.block-children-container>.block-children>.ls-block img {
  max-height: 200px;
}

.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="true"]>.block-children-container>.block-children {
  display: inline-flex;
  position: relative;
  flex-flow: row wrap;
}

.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="true"]>.block-children-container>.block-children>.ls-block>.block-main-container .block-control-wrap {
  display: none;
}

.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"]>.block-children-container.flex {
  width: 100%;
}

.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="true"] {
  background-color: var(--bg-color-1);
  padding: 0px;
  border-radius: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 8px
}

.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="true"]>.block-main-container {
  background-color: var(--cl-color-1-20);
  padding: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="true"]>.block-children-container>.block-children {
  border-left: 0px solid !important;
}
.page.relative>.relative .pre-block[data-refs-self*=":gallery-view"] ~ .ls-block[level="1"][haschild="true"] {
  margin-top: 25px;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"][haschild="true"] {
  display: flex;
  padding: 10px 0px;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"][haschild="false"] {
  background-color: transparent !important;
  text-align: -webkit-center;
  margin-top: 20px;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"][haschild="false"] :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"][haschild="false"] .bullet-container {
  opacity: 0;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] .is-empty .bullet {
  opacity: 1;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"]>.block-children-container {
  margin-left: 0px;
  overflow: scroll;
  padding-right: 5px;
  box-sizing: border-box;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"]>.block-children-container>.block-children {
  border-left: 0px solid !important;
  padding: 0px;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"]>.block-children-container>.block-children-left-border {
  display: none;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"][haschild="true"]>.block-main-container {
  min-width: 20%;
  max-width: 20%;
  margin: 0px;
  padding: 0px;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"]>.block-main-container .inline a.tag {
  display: contents;
  font-size: smaller;
  word-break: break-word;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"]>.block-main-container .bracket {
  display: none;
}
.page.relative>.relative .pre-block[data-refs-self*=":table-view"] ~ .ls-block[level="1"][haschild="true"]:nth-child(odd) {
  background-color: var(--cl-color-2-05);
  background-color: var(--cl-text-color-05);
}
.page.relative>.relative .pre-block[data-refs-self*=":spaced-blocks"] ~ .ls-block[level="1"]:not(.is-empty):not(:first-of-type) {
  margin-top: 30px;
}
.page.relative>.relative .pre-block[data-refs-self*=":hide-parent-bullets"] ~ .ls-block[level="1"]>.block-main-container .bullet-container {
  opacity: 0;
}
.page.relative>.relative .pre-block[data-refs-self*=":hide-parent-bullets"] ~ .ls-block[level="1"]>.block-children-container {
  margin-left: 0px;
}
.page.relative>.relative .pre-block[data-refs-self*=":hide-parent-bullets"] ~ .ls-block[level="1"]>.block-children-container>.block-children {
  border-left: 0px solid;
}
.page.relative>.relative .pre-block[data-refs-self*=":hide-parent-bullets"] ~ .ls-block[level="1"]>.block-children-container>.block-children-left-border {
  display: none;
}
.page.relative>.relative .pre-block[data-refs-self*=":hide-parent-bullets"] ~ .ls-block[level="1"]>.block-main-container {
  margin-left: -15px;
}
.page.relative>.relative .pre-block[data-refs-self*=":container-blocks"] ~ .ls-block[level="1"]>.block-children-container>.block-children>.ls-block:last-child {
  padding-bottom: 10px;
}
.page.relative>.relative .pre-block[data-refs-self*=":container-blocks"] ~ .ls-block[level="1"] {
  background-color: var(--cl-color-2-05);
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: 10px;
}
.page.relative>.relative .pre-block[data-refs-self*=":container-blocks"] {
  margin-right: -40px;
}
.page.relative>.relative .pre-block[data-refs-self*=":container-blocks"]>.block-main-container>.block-control-wrap {
  display: none;
}
.page.relative>.relative .pre-block[data-refs-self*=":container-blocks"] ~ .ls-block[level="1"][haschild="true"]>.block-main-container {
  padding: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-left: -14px;
}
.page.relative>.relative .pre-block[data-refs-self*=":container-blocks"] ~ .ls-block[level="1"][haschild="true"]>.block-main-container .bullet-container {
  opacity: 0;
}
.page.relative>.relative .pre-block[data-refs-self*=":container-blocks"] ~ .ls-block[level="1"][haschild="true"]>.block-children-container>.block-children {
  border-left: 0px solid;
}
.page.relative>.relative .pre-block[data-refs-self*=":bold-parents"] ~ .ls-block[level="1"]>.block-main-container .block-content-inner .inline {
  font-weight: 800 !important;
}
.page.relative>.relative .pre-block[data-refs-self*=":bold-parents"] ~ .ls-block[level="1"]>.block-main-container .inline a.tag {
  font-weight: 400 !important;
}
/*
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[haschild="true"]>.block-main-container .tag[data-ref=":hide-bullet"] {
  display: none;
}
.ls-block[level="1"][haschild="true"][data-ref=":hide-bullet"]>.block-main-container .bullet-container {
  opacity: 0;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-main-container .bullet-container {
  opacity: 0;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-children-container {
  margin-left: 0px;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-children-container>.block-children {
  border-left: 0px solid;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-children-container>.block-children-left-border {
  display: none;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-main-container {
  margin-left: -20px;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"] {
  margin: 30px 0px;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-main-container .block-content-inner .inline {
  font-weight: 800 !important;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-main-container .inline a.tag {
  font-weight: 400 !important;
}