/* Fix for bullet threading */
.ls-block .bullet {
  box-shadow: none !important;
}

.ls-block:not([data-refs-self='""'])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  position: relative;
  left: -4px;
  letter-spacing: -6px;
  margin: 3px;
  top: 1.5px;
}

.ls-block[data-refs-self*='"']>.flex.flex-row.pr-2>.block-control-wrap a:hover>.bullet-container>.bullet:before {
  color: hsl(var(--cl-accent));
}

/* set our position parameters so the new symbols align with the old bullet position */
.bullet-container {
  position: relative;
  top: -10px;
  left: -5px;
}

.bullet-container.bullet-closed,
.bullet-container.bullet-closed .bullet {
  background-color: transparent !important;
}

.bullet-container.bullet-closed,
.bullet-container.bullet-closed .bullet:before {
  transition: 0.4s;
  content: "\f7d8";
  font-family: 'tabler-icons240';
  color: var(--ls-block-bullet-color);
}

.ls-block:not(:focus-within) .bullet-closed .bullet:before {
  content: "\f7d8";
}

.bullet-container.bullet-closed,
.bullet-container:not(.bullet-closed) .bullet {
  background-color: transparent !important;
}


.bullet-container.bullet-closed,
.bullet-container:not(.bullet-closed) .bullet:before {
  transition: 0.4s;
  content: "\eb0c";
  font-family: 'tabler-icons240';
  color: var(--ls-block-bullet-color);
}

.bullet-container.bullet-closed:hover,
.bullet-container:not(.bullet-closed):hover .bullet:hover:before {
  color: hsl(var(--cl-accent));
}

.ls-block[haschild="true"]:not(:focus-within) .bullet-container:not(.bullet-closed) .bullet:before {
  content: "\f7d6";
}

.ls-block[haschild="false"]:not(:focus-within) .bullet-container.bullet-closed,
.ls-block[haschild="false"]:not(:focus-within) .bullet-container:not(.bullet-closed) .bullet:before {
  content: "\f698";
}


.bullet-container:hover {
  background-color: transparent !important;
  font-weight: 300;
}

a:hover>.bullet-container .bullet {
  transform: scale(1.0) !important;
  font-weight: 300;
  background-color: transparent !important;
}

a:hover .bullet-container {
  background-color: transparent;
}

.contains-properties>.flex.flex-row>.block-control-wrap .bullet-container:not(.bullet-closed) .bullet:before {
  content: "\f7da" !important;
  font-family: 'tabler-icons240';
}

.ls-block[data-refs-self*='"pa"']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f95c" !important;
  font-family: 'tabler-icons240';
  color: var(--ls-block-bullet-color);
  border-radius: 50%;
}

.ls-block[data-refs-self*='"pa"']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  background-color: var(--ls-block-bullet-border-color);
}

.ls-block[data-refs-self*='"fk"']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f746" !important;
  font-family: 'tabler-icons240';
  color: var(--ls-block-bullet-color);
  border-radius: 50%;
}

.ls-block[data-refs-self*='"fk"']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  background-color: var(--ls-block-bullet-border-color);
}