/************* BULLET CONTAINER *************/
.bullet-container .bullet {
  height: 8px;
}

.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container {
  position: relative;
  top: -6px;
  left: -5px;
}

.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed,
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container:not(.bullet-closed) .bullet {
  background-color: transparent !important;
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a:hover>.bullet-container {
  background-color: transparent !important;
}

.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed,
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed .bullet {
  background-color: transparent !important;
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a:hover>.bullet-container .bullet {
  transform: scale(1.1);
}

.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container {
  position: relative;
  top: -8.5px;
  left: -5px;
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-family: 'tabler-icons240';
  border-radius: 50%;
  vertical-align: middle;
  color: hsl(var(--cl-text-color), 0.6);
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  font-family: 'tabler-icons240';
  vertical-align: middle;
  color: hsl(var(--cl-text-color), 0.6);
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  background-color: transparent;
}
.ls-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed {
  background-color: transparent !important;
}
.is-concept[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ee93" !important;
  font-weight: 100;
  color: var(--cl-color-1-100) !important;
}
.is-concept[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ee93" !important;
  font-weight: 100;
  color: var(--cl-color-1-100) !important;
}
.is-collector[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
}
.is-collector[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\eaad" !important;
  font-weight: 100;
  color: var(--cl-color-3-60) !important;
}
.is-foundation[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f747" !important;
  font-weight: 100;
  color: var(--cl-color-1-100) !important;
}
.is-foundation[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f747" !important;
  font-weight: 100;
  color: var(--cl-color-1-100) !important;
}
.is-descriptor[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f6d8" !important;
  font-weight: 100;
  color: var(--cl-color-2-100) !important;
}
.is-descriptor[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f6d8" !important;
  font-weight: 100;
  color: var(--cl-color-2-100) !important;
}
.is-question[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f9e6" !important;
  font-weight: 100;
  color: var(--cl-color-3-60) !important;
}
.is-question[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f9e6" !important;
  font-weight: 100;
  color: var(--cl-color-3-60) !important;
}
.ls-block[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
  color: var(--cl-text-color-60);
}
.ls-block[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f698";
  font-weight: 100;
}
.ls-block[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f698";
  font-weight: 100;
  background-color: var(--cl-text-color-10);
}
/*.pre-block[haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before, .pre-block[haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ea08" !important;
}
.pre-block .bullet:before {
  content: "\eaf2" !important;
}*/
:is(.ls-block[data-refs-self^="[\"todo\""][haschild="false"], .ls-block[data-refs-self^="[\"doing\""][haschild="false"], .ls-block[data-refs-self^="[\"now\""][haschild="false"])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
:is(.ls-block[data-refs-self^="[\"todo\""][haschild="true"], .ls-block[data-refs-self^="[\"doing\""][haschild="true"], .ls-block[data-refs-self^="[\"now\""][haschild="true"])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
:is(.ls-block[data-refs-self^="[\"doing\""][haschild="false"], .ls-block[data-refs-self^="[\"now\""][haschild="false"])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
:is(.ls-block[data-refs-self^="[\"doing\""][haschild="true"], .ls-block[data-refs-self^="[\"now\""][haschild="true"])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
:is(.ls-block[data-refs-self^="[\"wait\""], .ls-block[data-refs-self^="[\"waiting\""])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
:is(.ls-block[data-refs-self^="[\"wait\""], .ls-block[data-refs-self^="[\"waiting\""])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
:is(.ls-block[data-refs-self^="[\"cancelled\""], .ls-block[data-refs-self^="[\"canceled\""])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
:is(.ls-block[data-refs-self^="[\"cancelled\""], .ls-block[data-refs-self^="[\"canceled\""])>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
.ls-block[data-refs-self^="[\"done\""][haschild="false"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
.ls-block[data-refs-self^="[\"done\""][haschild="true"]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  font-weight: 100;
  color: var(--cl-text-color-60);
}
.pre-block[data-refs-self*="[\""]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  color: var(--cl-text-color-60);
  content: "\f698";
}
.pre-block[data-refs-self*="[\""]>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  color: var(--cl-text-color-60);
  content: "\ea61";
}
/* ADD YOUR PAGE TYPES BELOW */
.type-block[data-ref*='indexcard']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f014" !important;
}
.type-block[data-ref*='indexcard']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f014" !important;
}
.type-block[data-ref*='fleeting']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f97d" !important;
}
.type-block[data-ref*='fleeting']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f97d" !important;
}
.type-block[data-ref*='project']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ea38" !important;
}
.type-block[data-ref*='project']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ea38" !important;
}
.type-block[data-ref*='resource']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\eb54" !important;
}
.type-block[data-ref*='resource']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\eb54" !important;
}
.type-block[data-ref*='question']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ec9d" !important;
}
.type-block[data-ref*='question']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ec9d" !important;
}
.type-block[data-ref*='goal']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\eb45" !important;
}
.type-block[data-ref*='goal']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\eb45" !important;
}
.type-block[data-ref*='task']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f76d" !important;
}
.type-block[data-ref*='task']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f76d" !important;
}
.type-block[data-ref*='milestone']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ec76" !important;
}
.type-block[data-ref*='milestone']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ec76" !important;
}
.type-block[data-ref*='problem']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f681" !important;
}
.type-block[data-ref*='problem']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f681" !important;
}
.type-block[data-ref*='planning']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\ecdd" !important;
}
.type-block[data-ref*='planning']>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\ecdd" !important;
}
.descriptor-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f635" !important;
  color: var(--cl-color-2-60)
}
.descriptor-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f635" !important;
  background-color: hsl(var(--cl-color-2), 0.15);
  color: var(--cl-color-2-60);
}
.concept-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container>.bullet:before {
  content: "\f561" !important;
  color: var(--cl-color-1-60)
}
.concept-block>.flex.flex-row.pr-2>.block-control-wrap a>.bullet-container.bullet-closed>.bullet:before {
  content: "\f561" !important;
  background-color: hsl(var(--cl-color-1), 0.15);
  color: var(--cl-color-1-60);
}
/******************* FIXES **********************/
.ls-block .bullet-container .selected {
  border: 0px solid !important;
}
/*
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[haschild="true"]>.block-main-container .tag[data-ref=":hide-bullet"] {
  display: none;
}
.ls-block[level="1"][haschild="true"][data-ref=":hide-bullet"]>.block-main-container .bullet-container {
  opacity: 0;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-main-container .bullet-container {
  opacity: 0;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-children-container {
  margin-left: 0px;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-children-container>.block-children {
  border-left: 0px solid;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-children-container>.block-children-left-border {
  display: none;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-main-container {
  margin-left: -20px;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"] {
  margin: 30px 0px;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-main-container .block-content-inner .inline {
  font-weight: 800 !important;
}
.page.relative>.relative>.flex.flex-row+div :not(.pre-block).ls-block[level="1"][haschild="true"]>.block-main-container .inline a.tag {
  font-weight: 400 !important;
}
