@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 210;
    --background-color-s: 18%;
    --background-color-l: 13%;
    --cl-background: 210, 18%, 23%;
    --cl-text-color: 213, 22%, 92%;
    --cl-color-1: 186, 47%, 58%;
    --cl-color-2: 140, 39%, 77%;
    --cl-color-3: 186, 63%, 36%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --cl-background: 0, 0%, 90%;
    --cl-text-color: 210, 16%, 33%;
    --cl-color-1: 186, 63%, 36%;
    --cl-color-2: 186, 47%, 58%;
    --cl-color-3: 140, 33%, 42%;
}