@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 210;
    --background-color-s: 16%;
    --background-color-l: 17%;
    --cl-background: 210, 16%, 27%;
    --cl-text-color: 213, 22%, 92%;
    --cl-color-1: 186, 47%, 58%;
    --cl-color-2: 186, 63%, 36%;
    --cl-color-3: 140, 39%, 77%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --cl-background: 0, 0%, 90%;
    --cl-text-color: 210, 16%, 33%;
    --cl-color-1: 186, 63%, 36%;
    --cl-color-2: 186, 47%, 58%;
    --cl-color-3: 140, 33%, 42%;
}

:root {

}

.dark-theme,
html[data-theme='dark'] {
    --ls-tag-color: ;
    --ls-tag-hover-color: ;
    --ls-ref-color: ;
    --ls-ref-hover-color: ;
    --ls-border-size: ;
    --ls-border-style: ;
    --ls-box-shadow: ;
    --ls-link-color: ;
    --ls-link-hover-color: ;
    --ls-guideline-color: ;
    --ls-bullet-border-color: ;
    --ls-text-color: ;
    --ls-warning-text-color: ;
}

.dark-theme,
html[data-theme='white'] {
    --ls-tag-color: ;
    --ls-tag-hover-color: ;
    --ls-ref-color: ;
    --ls-ref-hover-color: ;
    --ls-border-size: ;
    --ls-border-style: ;
    --ls-box-shadow: ;
    --ls-link-color: ;
    --ls-link-hover-color: ;
    --ls-guideline-color: ;
    --ls-bullet-border-color: ;
    --ls-text-color: ;
    --ls-warning-text-color: ;
}