@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 207;
    --background-color-s: 95%;
    --background-color-l: 18%;
    --cl-background: 207, 95%, 28%;
    --cl-text-color: 213, 13%, 86%;
    --cl-color-1: 221, 100%, 75%;
    --cl-color-2: 276, 68%, 75%;
    --cl-color-3: 35, 71%, 74%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 98%;
    --cl-background: 0, 0%, 88%;
    --cl-text-color: 243, 14%, 29%;
    --cl-color-1: 182, 86%, 33%;
    --cl-color-2: 221, 63%, 56%;
    --cl-color-3: 279, 50%, 53%;
}