@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 243;
    --background-color-s: 41%;
    --background-color-l: 14%;
    --cl-background: 243,41%,24%;
    --cl-text-color: 30,80%,86%;
    --cl-color-1: 100,100%,72%;
    --cl-color-2: 196,78%,44%;
    --cl-color-3: 328,100%,70%;
    --cl-yellow: 199,181,24;
}