@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 30;
    --background-color-s: 4%;
    --background-color-l: 20%;
    --cl-background: 30,4%,30%;
    --cl-text-color: 22, 9%, 75%;
    --cl-color-1: 8, 51%, 49%;
    --cl-color-2: 145, 26%, 59%;
    --cl-color-3: 13, 31%, 68%;
}