@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 221;
    --background-color-s: 15%;
    --background-color-l: 18%;
    --cl-background: 221,15%, 28%;
    --cl-text-color: 210,7%,94%;
    --cl-color-1: 14,58%,55%;
    --cl-color-2: 218,22%,55%;
    --cl-color-3: 53,89%,79%;
}