@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 210;
    --background-color-s: 16%;
    --background-color-l: 17%;
    --cl-background: 210, 16%, 27%;
    --cl-text-color: 213, 22%, 92%;
    --cl-color-2: 186, 63%, 36%;
    --cl-color-1: 186, 47%, 58%;
    --cl-color-3: 140, 39%, 77%;
    --cl-background-test: var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) + 10);
}