@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 225;
    --background-color-s: 6%;
    --background-color-l: 18%;
    --cl-background: 225, 6%, 28%;
    --cl-text-color: 47, 26%, 65%;
    --cl-color-1: 331, 73%, 56%;
    --cl-color-2: 21, 75%, 61%;
    --cl-color-3: 199, 65%, 60%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 98%;
    --cl-background: 0, 0%, 88%;
    --cl-text-color: 0, 0%, 20%;
    --cl-color-1: 355, 61%, 59%;
    --cl-color-2: 355, 61%, 59%;
    --cl-color-3: 355, 61%, 59%;
}
