@import '../code/base.css';

.white-theme,
html[data-theme='light'] {
    --background-color-h: 220;
    --background-color-s: 23%;
    --background-color-l: 95%;
    --cl-background: 220,23%,85%;
    --cl-text-color: 234,16%,35%;
    --cl-primary: 0, 60%, 67%;
    --cl-secondary: 35, 77%, 49%;
    --cl-accent: 22, 99%, 52%;
}