@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 345;
    --background-color-s: 13%;
    --background-color-l: 14%;
    --cl-background: 345,13%,24%;
    --cl-text-color: 23,27%,60%;
    --cl-color-1: 187,47%,55%;
    --cl-color-2: 7,47%,55%;
    --cl-color-3: 353,63%,55%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 21;
    --background-color-s: 28%;
    --background-color-l: 85%;
    --cl-background: 21,28%,75%;
    --cl-text-color: 196,20%,22%;
    --cl-color-1: 187,47%,40%;
    --cl-color-2: 7,47%,55%;
    --cl-color-3: 356,23%,49%;
}