@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 201;
    --background-color-s: 100%;
    --background-color-l: 18%;
    --cl-background: 201,100%,28%;
    --cl-text-color: 164,60%,90%;
    --cl-color-1: 109, 50%, 78%;
    --cl-color-2: 42,50%,70%;
    --cl-color-3: 180,50%,81%;
}