@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 236;
    --background-color-s: 45%;
    --background-color-l: 18%;
    --cl-background: 236,45%,28%;
    --cl-text-color: 0,0%,82%;
    --cl-color-1: 331,100%,65%;
    --cl-color-2: 280,62%,64%;
    --cl-color-3: 101,35%,55%;
}