@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 192;
    --background-color-s: 94%;
    --background-color-l: 10%;
    --cl-background: 192,94%,20%;
    --cl-text-color: 183,11%,78%;
    --cl-color-1: 180,30%,66%;
    --cl-color-2: 213,100%,60%;
    --cl-color-3: 180,30%,66%;
}
.white-theme,
html[data-theme='light'] {
    --background-color-h: 183;
    --background-color-s: 11%;
    --background-color-l: 88%;
    --cl-background: 183,11%,78%;
    --cl-text-color: 192,94%,20%;
    --cl-color-2: 203,48%,48%;
    --cl-color-1: 203,82%,35%;
    --cl-color-3: 203,48%,48%;
}