@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 231;
    --background-color-s: 15%;
    --background-color-l: 13%;
    --cl-background: 231,15%, 23%;
    --cl-text-color: 60,30%,96%;
    --cl-color-1: 326,100%,74%;
    --cl-color-2: 135, 94%, 65%;
    --cl-color-3: 265,89%,78%;
}