@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 212;
    --background-color-s: 22%;
    --background-color-l: 14%;
    --cl-background: 212,22%,24%;
    --cl-text-color: 60,30%,96%;
    --cl-color-1: 65,92%,76%;
    --cl-color-2: 340,82%,76%;
    --cl-color-3: 187,71%,73%;
}