@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 18%;
    --cl-background: 0,0%, 28%;
    --cl-text-color: 192,15%,94%;
    --cl-color-1: 204,70%,53%;
    --cl-color-2: 283,39%,63%;
    --cl-color-3: 168,76%,42%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 192;
    --background-color-s: 15%;
    --background-color-l: 94%;
    --cl-background: 192,15%,84%;
    --cl-text-color: 210,29%,24%;
    --cl-color-3: 145, 63%, 42%;
    --cl-color-1: 204, 64%, 44%;
    --cl-color-2: 282, 44%, 47%;
}