@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 197;
    --background-color-s: 11%;
    --background-color-l: 13%;
    --cl-background: 197, 11%, 23%;
    --cl-text-color: 66, 10%, 59%;
    --cl-color-1: 81, 35%, 48%;
    --cl-color-2: 45, 100%, 40%;
    --cl-color-3: 38, 72%, 40%;
}