@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 192;
    --background-color-s: 6%;
    --background-color-l: 14%;
    --cl-background: 192,6%,24%;
    --cl-text-color: 0,7%,85%;
    --cl-color-1: 190,52%,66%;
    --cl-color-2: 330,74%,61%;
    --cl-color-3: 284,48%,56%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 7%;
    --background-color-l: 94%;
    --cl-background: 0,7%,84%;
    --cl-text-color: 192,6%,15%;
    --cl-color-1: 183,76%,31%;
    --cl-color-3: 330,74%,51%;
    --cl-color-2: 190,37%,45%;
}