@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 240;
    --background-color-s: 13%;
    --background-color-l: 14%;
    --cl-background: 240,13%,24%;
    --cl-text-color: 51,33%,80%;
    --cl-color-1: 87, 37%, 58%;
    --cl-color-3: 220, 54%, 67%;
    --cl-color-2: 341, 48%, 66%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 51;
    --background-color-s: 33%;
    --background-color-l: 80%;
    --cl-background: 51, 33%, 70%;
    --cl-text-color: 240, 9%, 36%;
    --cl-color-3: 54, 31%, 36%;
    --cl-color-1: 218, 34%, 45%;
    --cl-color-2: 264, 27%, 41%;
}