@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 200;
    --background-color-s: 19%;
    --background-color-l: 13%;
    --cl-background: 200,19%, 23%;
    --cl-text-color: 180,100%,97%;
    --cl-color-1: 350,100%,81%;
    --cl-color-2: 197,100%,77%;
    --cl-color-3: 39,100%,71%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 200;
    --background-color-s: 19%;
    --background-color-l: 94%;
    --cl-background: 200,19%,84%;
    --cl-text-color: 200,16%,42%;
    --cl-color-1: 350, 100%, 66%;
    --cl-color-2: 217, 38%, 55%;
    --cl-color-3: 184, 52%, 47%;
}