@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 200;
    --background-color-s: 19%;
    --background-color-l: 18%;
    --cl-background: 200,19%,28%;
    --cl-text-color: 180,100%,97%;
    --cl-primary: 197,100%,77%;
    --cl-secondary: 350,100%,81%;
    --cl-accent: 39,100%,71%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 200;
    --background-color-s: 19%;
    --background-color-l: 94%;
    --cl-background: 200,19%,84%;
    --cl-text-color: 200,16%,42%;
    --cl-primary: 184,52%,44%;
    --cl-accent: 275, 70%, 55%;
    --cl-secondary: 76, 40%, 44%;
}