@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 340;
    --background-color-s: 8%;
    --background-color-l: 10%;
    --cl-background: 340,8%,20%;
    --cl-text-color: 43,54%,79%;
    --cl-color-1: 18,65%,69%;
    --cl-color-2: 40,54%,68%;
    --cl-color-3: 135,31%,64%;
}