@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 235;
    --background-color-s: 25%;
    --background-color-l: 17%;
    --cl-background: 235,25%,27%;
    --cl-text-color: 225,69%,87%;
    --cl-primary: 263,100%,80%;
    --cl-secondary: 199,94%,65%;
    --cl-accent: 194,95%,76%;
}

.white-theme, 
html[data-theme='light'] {
    --background-color-h: 44;
    --background-color-s: 87%;
    --background-color-l: 94%;
    --cl-background: 44, 87%, 84%;
    --cl-text-color: 196, 13%, 45%;
    --cl-primary: 205, 69%, 49%;
    --cl-secondary: 175, 59%, 40%;
    --cl-accent: 192, 81%, 14%;
}