@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 235;
    --background-color-s: 25%;
    --background-color-l: 18%;
    --cl-background: 235,25%, 28%;
    --cl-text-color: 225,69%,87%;
    --cl-color-1: 263,100%,80%;
    --cl-color-2: 199,94%,65%;
    --cl-color-3: 194,95%,76%;
}

.white-theme, 
html[data-theme='light'] {
    --background-color-h: 235;
    --background-color-s: 25%;
    --background-color-l: 94%;
    --cl-background: 235, 25%, 84%;
    --cl-text-color: 196, 13%, 25%;
    --cl-color-1: 205, 69%, 49%;
    --cl-color-2: 175, 59%, 40%;
    --cl-color-3: 192, 81%, 54%;
}