@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 142;
    --background-color-s: 7%;
    --background-color-l: 18%;
    --cl-background: 142, 7%, 28%;
    --cl-text-color: 144, 8%, 82%;
    --cl-color-1: 191, 95%, 64%;
    --cl-color-2: 177, 83%, 56%;
    --cl-color-3: 181, 52%, 57%;
}

.white-theme, 
html[data-theme='light'] {
    --background-color-h: 144;
    --background-color-s: 8%;
    --background-color-l: 92%;
    --cl-background: 144, 8%, 82%;
    --cl-text-color: 142, 7%, 24%;
    --cl-color-1: 191, 95%, 34%;
    --cl-color-2: 177, 83%, 26%;
    --cl-color-3: 181, 52%, 27%;
}