@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 228;
    --background-color-s: 27%;
    --background-color-l: 10%;
    --cl-background: 228,27%,20%;
    --cl-text-color: 216,3%,65%;
    --cl-color-1: 237,34%,59%;
    --cl-color-2: 243,29%,61%;
    --cl-color-3: 223,42%,51%;
}