@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 220;
    --background-color-s: 16%;
    --background-color-l: 14%;
    --cl-background: 220,16%,24%;
    --cl-text-color: 218,27%,94%;
    --cl-color-1: 210, 34%, 63%;
    --cl-color-2: 92, 28%, 65%;
    --cl-color-3: 311, 20%, 63%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 218;
    --background-color-s: 27%;
    --background-color-l: 94%;
    --cl-background: 218,27%,84%;
    --cl-text-color: 220,16%,22%;
    --cl-color-1: 193, 43%, 67%;
    --cl-color-2: 213, 32%, 52%;
    --cl-color-3: 311, 20%, 63%;
}