@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 18%;
    --cl-background: 0,0%, 28%;
    --cl-text-color: 0,0%,85%;
    --cl-color-1: 258,100%,77%;
    --cl-color-2: 258,100%,77%;
    --cl-color-3: 258,100%,77%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --cl-background: 0,0%,90%;
    --cl-text-color: 0,0%,13%;
    --cl-color-1: 258,50%,48%;
    --cl-color-2: 258,50%,48%;
    --cl-color-3: 258,50%,48%;
}