@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 225;
    --background-color-s: 7%;
    --background-color-l: 18%;
    --cl-background: 225,7%, 28%;
    --cl-text-color: 230,6%,81%;
    --cl-color-1: 25,85%,55%;
    --cl-color-2: 313,32%,60%;
    --cl-color-3: 196,64%,58%;
}