@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 220;
    --background-color-s: 13%;
    --background-color-l: 13%;
    --cl-background: 220,13%,23%;
    --cl-text-color: 204,20%,69%;
    --cl-color-3: 204,83%,62%;
    --cl-color-2: 95,38%,62%;
    --cl-color-1: 286,60%,67%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 98%;
    --cl-background: 0,0%,88%;
    --cl-text-color: 0,0%,32%;
    --cl-color-1: 198,84%,42%;
    --cl-color-3: 116, 81%, 37%;
    --cl-color-2: 39, 86%, 54%;
}