@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 60;
    --background-color-s: 4%;
    --background-color-l: 13%;
    --cl-background: 60,4%, 23%;
    --cl-text-color: 43,38%,84%;
    --cl-color-1: 342,60%,65%;
    --cl-color-2: 150,97%,56%;
    --cl-color-3: 177,61%,29%;
}