@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 246;
    --background-color-s: 24%;
    --background-color-l: 17%;
    --cl-background: 246,24%,27%;
    --cl-text-color: 245, 50%, 91%;
    --cl-color-1: 343, 76%, 68%;
    --cl-color-2: 267, 57%, 78%;
    --cl-color-3: 2, 66%, 75%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 32;
    --background-color-s: 57%;
    --background-color-l: 95%;
    --cl-background: 32,57%,85%;
    --cl-text-color: 248, 19%, 40%;
    --cl-color-2: 197, 53%, 34%;
    --cl-color-1: 3, 53%, 67%;
    --cl-color-3: 35, 81%, 56%;
}