@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 231;
    --background-color-s: 15%;
    --background-color-l: 10%;
    --cl-background: 231,15%,20%;
    --cl-text-color: 0,0%,98%;
    --cl-color-1: 325,100%,71%;
    --cl-color-2: 190, 98%, 80%;
    --cl-color-3: 64, 88%, 80%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 210;
    --background-color-s: 25%;
    --background-color-l: 98%;
    --cl-background: 210,25%,88%;
    --cl-text-color: 234,10%,37%;
    --cl-color-1: 179,82%,40%;
    --cl-color-2: 325,90%,69%;
    --cl-color-3: 200,93%,48%;
}