@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 18%;
    --cl-background: 0, 0%, 28%;
    --cl-text-color: 0, 0%, 78%;
    --cl-color-1: 340, 60%, 61%;
    --cl-color-2: 0, 0%, 46%;
    --cl-color-3: 0, 0%, 46%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 96%;
    --cl-background: 0,0%,86%;
    --cl-text-color: 0, 0%, 15%;
    --cl-color-1: 345, 100%, 69%;
    --cl-color-2: 0, 0%, 46%;
    --cl-color-3: 0, 0%, 46%;
}