@import '../code/base.css';

.white-theme,
html[data-theme='light'] {
    --background-color-h: 240;
    --background-color-s: 17%;
    --background-color-l: 89%;
    --cl-background: 240, 17%, 79%;
    --cl-text-color: 240, 4%, 13%;
    --cl-primary: 209, 85%, 31%;
    --cl-secondary: 316, 86%, 34%;
    --cl-accent: 28, 85%, 37%;
}