@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 201;
    --background-color-s: 42%;
    --background-color-l: 13%;
    --cl-background: 201,42%, 23%;
    --cl-text-color: 0,0%,93%;
    --cl-color-1: 183,53%,55%;
    --cl-color-2: 14,93%,55%;
    --cl-color-3: 183,53%,55%;
}