@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 230;
    --background-color-s: 24%;
    --background-color-l: 18%;
    --cl-background: 230,24%, 28%;
    --cl-text-color: 229,35%,75%;
    --cl-color-1: 202, 100%, 75%;
    --cl-color-2: 221, 89%, 72%;
    --cl-color-3: 89, 51%, 61%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 230;
    --background-color-s: 8%;
    --background-color-l: 85%;
    --cl-background: 230,8%,75%;
    --cl-text-color: 229, 26%, 28%;
    --cl-color-1: 189, 68%, 30%;
    --cl-color-2: 218, 45%, 37%;
    --cl-color-3: 261, 24%, 38%;
}