@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 235;
    --background-color-s: 19%;
    --background-color-l: 18%;
    --cl-background: 235,19%, 28%;
    --cl-text-color: 229,35%,75%;
    --cl-color-1: 261,64%,73%;
    --cl-color-2: 89,51%,61%;
    --cl-color-3: 22,100%,70%;
    --cl-gray: rgb(68,75,106);
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 230;
    --background-color-s: 8%;
    --background-color-l: 85%;
    --cl-background: 230,8%,75%;
    --cl-text-color: 229, 26%, 28%;
    --cl-color-1: 189, 68%, 27%;
    --cl-color-2: 171, 32%, 29%;
    --cl-color-3: 261, 24%, 38%;
}