@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 210;
    --background-color-s: 23%;
    --background-color-l: 18%;
    --cl-background: 210,23%,28%;
    --cl-text-color: 207,18%,70%;
    --cl-color-1: 317,100%,76%;
    --cl-color-2: 212,100%,73%;
    --cl-color-3: 77,67%,68%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 180;
    --background-color-s: 20%;
    --background-color-l: 98%;
    --cl-background: 180,20%,88%;
    --cl-text-color: 203,24%,15%;
    --cl-color-2: 317,100%,75%;
    --cl-color-1: 272,100%,79%;
    --cl-color-3: 77,48%,55%;
}