@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 210;
    --background-color-s: 23%;
    --background-color-l: 13%;
    --cl-background: 210,23%,23%;
    --cl-text-color: 207,18%,70%;
    --cl-color-1: 317,100%,76%;
    --cl-color-2: 212,100%,73%;
    --cl-color-3: 77,67%,68%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 207;
    --background-color-s: 18%;
    --background-color-l: 90%;
    --cl-background: 207,18%,80%;
    --cl-text-color: 210,23%,23%;
    --cl-color-1: 307,75%,62%;
    --cl-color-2: 212,70%,53%;
    --cl-color-3: 77,50%,43%;
}